/*
@File: Finod Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Navbar CSS
** - Home Demo One CSS
** - Home Demo Two CSS
** - Home Demo Three CSS
** - About CSS
** - Donation Details CSS
** - Event Details CSS
** - Blog Details CSS
** - User CSS
** - FAQ CSS
** - Error CSS
** - Coming Soon CSS
** - Rules CSS
** - Go Top CSS
** - Preloader CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

$common-font: 'Open Sans', sans-serif;
$heading-font: 'Quicksand', sans-serif;
$all-size: 16px;
$transition: .5s all ease;
$main-color: #302c51;
$paragraph-color: #757575;
$white-color: #fff;
$orange-color: #ff6015;

/*----- Default CSS -----*/
body {
    font-family: $common-font;
    color: $paragraph-color;
    background-color: $white-color;
    font-size: $all-size;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $main-color;
    font-family: $heading-font;
}
p {
    line-height: 1.7;
}
a {
    transition: $transition;

    &:hover {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}
button {
    &:focus{
        outline: 0;
    }
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
}
.common-btn {
    color: $white-color;
    background-color: $orange-color;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;

    &:hover {
        color: $white-color;
        background-color: $main-color;
        transform: translate(0, -5px);
    }
}
.section-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -5px;
    position: relative;
    z-index: 1;

    .sub-title {
        display: inline-block;
        color: $orange-color;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
        max-width: 595px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*----- Home Demo One CSS -----*/
/*-- Header --*/
.header-area {
    background-color: $main-color;
    padding-top: 15px;
    padding-bottom: 15px;

    .left {
        ul {
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
                i {
                    display: inline-block;
                    color: $white-color;
                    font-size: 15px;
                }
                a {
                    display: inline-block;
                    color: $white-color;
                    font-size: 14px;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }
    .right {
        text-align: right;

        ul {
            display: inline-block;
            margin-right: 20px;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
                span {
                    display: inline-block;
                    color: $white-color;
                    margin-right: 5px;
                    font-size: 14px;
                }
                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: $white-color;
                    border: 1px solid $white-color;
                    border-radius: 50%;
                    font-size: 13px;

                    i {
                        line-height: 30px;
                    }
                    &:hover {
                        color: $white-color;
                        background-color: $orange-color;
                        border: 1px solid $orange-color;
                    }
                }
            }
        }
        .nav-flag-dropdown {
            margin-right: 15px;
            display: inline-block;
            z-index: 9999;

            img {
                width: 30px;
                border-radius: 50%;
                margin-right: 3px;
            }
            .btn {
                font-weight: 600;
                font-size: 15px;
                padding: 0;
                border: 0;
                color: $white-color;

                i {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 18px;
                    position: relative;
                    top: 3px;
                }
            }
            .dropdown-menu {
                padding-top: 0;
                padding-bottom: 0;
                border: 0;
                border-radius: 0;
                box-shadow: 0px 0px 20px 0px #cacaca59;
                top: 170%;
                transition: $transition;
                display: block;
                opacity: 0;
                visibility: hidden;

                &.show {
                    opacity: 1;
                    visibility: visible;
                    top: 30% !important;
                }
                a {
                    font-size: 15px;
                    font-weight: 600;
                    padding: 10px 15px;
                    border-bottom: 1px solid #f1f1f1;
                    border-left: 3px solid transparent;
                    color: $main-color;

                    &:hover {
                        background-color: transparent;
                        border-left: 3px solid #e93c05;
                        padding-left: 18px;
                        border-radius: 0 50% 50% 0;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
            .dropdown-toggle::after {
                display: none;
            }
        }
        .header-search {
            display: inline-block;

            #search-btn{
                padding: 0;
                border-radius: 50%;
                color: $white-color;
                width: 30px;
                height: 30px;
                border: 1px solid $white-color;
                text-align: center;
                font-size: 13px;
                display: inline-block;
                line-height: 30px;
                cursor: pointer;
                transition: $transition;
            
                &:hover {
                    color: $white-color;
                    border: 1px solid $orange-color;
                    background-color: $orange-color;
                }
            }
            #close-btn{
                padding: 0;
                position: fixed;
                top: 20px;
                right: 20px;
                z-index: 1;
                color: $white-color;
                transition: $transition;
                font-size: 25px;
                cursor: pointer;
            
                &:hover {
                    color: $orange-color;
                    transform: rotate(360deg);
                }
            }
            #search-overlay{
                display: none;
                z-index: 999999;
            }
            .block {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
                background-color: #000000eb;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
            }
            .centered {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                padding: 10px 15px;
                color: $white-color;
                border: 1px solid #fff;
                border-radius: 5px;

                #search-box {
                    position: relative;

                    form {
                        .form-control {
                            height: 50px;
                            border: 0;
                            border-radius: 5px;
                            padding-left: 20px;
                    
                            &:focus {
                                border: 0;
                                box-shadow: none;
                            }
                        }
                        .btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $white-color;
                            background-color: $orange-color;
                            transition: $transition;
                            height: 100%;
                            padding: 0;
                            padding-left: 40px;
                            padding-right: 40px;
                            font-size: 18px;
                            border-radius: 0 5px 5px 0;
                    
                            &:hover {
                                color: $white-color;
                                background-color: $main-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-- Navbar --*/
.main-nav {
    background: $white-color;
    box-shadow: 0px 10px 20px 0px #ddd3;
    transition: $transition;
    padding-top: 12px;
    padding-bottom: 12px;

    &.menu-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav {
        padding: 0;
        
        .navbar-nav {
            margin-left: auto;
            margin-right: auto;

            .nav-item {
                &:hover {
                    a {
                        color: $orange-color;
                    }
                }
                a {
                    text-transform: capitalize;
                    color: $main-color;
                    font-weight: 600;
                    margin-left: 12px;
                    margin-right: 12px;

                    &:hover, &:focus, &.active {
                        color: $orange-color;
                    }
                }
                .dropdown-menu {
                    padding: 0;
                    background: $main-color;
                    transition: .3s;
                    border-radius: 0;

                    li {
                        border-bottom: 1px solid #ddd3;
                        
                        &:last-child {
                            border: 0;
                        }
                        &:hover {
                            .dropdown-menu {
                                top: 0 !important;
                            }
                            a {
                                color: $white-color;
                            }
                        }
                        a {
                            position: relative;
                            font-weight: 600;
                        
                            &:before {
                                position: absolute;
                                content: '';
                                width: 5px;
                                height: 5px;
                                top: 18px;
                                left: 17px;
                                background-color: $white-color;
                                opacity: 0;
                                visibility: hidden;
                                transition: $transition;
                                animation: rotate360 1s infinite linear;
                                border: 2px solid $orange-color;
                            }
                            &:hover, &:focus, &.active {
                                padding-left: 30px;
                                color: $white-color;
                            
                                &:before {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                        .dropdown-menu {
                            left: unset;
                            right: -100%;

                            li {
                                a {
                                    &:hover, &:focus, &.active {
                                        color: $white-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
}
@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.side-nav {
    a {
        display: inline-block;
        color: $white-color;
        background-color: $orange-color;
        border-radius: 30px;
        padding: 10px 25px;
        font-weight: 600;

        i {
            display: inline-block;
            margin-left: 3px;
            font-size: 14px;
            animation: heart-beat 2s infinite linear;
        }
        &:hover {
            background-color: $main-color;
        }
    }
}
@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*-- Banner --*/
.banner-area {
    height: 800px;
    background-image: url('../img/banner/banner-bg1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $main-color;
        opacity: .80;
    }
    .banner-img {
        position: relative;
        text-align: center;

        img {
            &:nth-child(1) {
                animation: border-transform-default 10s linear infinite alternate forwards;
                max-width: 550px;
                margin-left: auto;
                margin-right: auto;
            }
            &:nth-child(2) {
                position: absolute;
                bottom: -145px;
                right: 30px;
                max-width: 200px;
            }
        }
    }
}
@keyframes border-transform-default {
    0%, to {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}
.banner-content {
    margin-top: 80px;
    max-width: 540px;
    margin-left: auto;

    span {
        display: inline-block;
        font-weight: 600;
        color: $main-color;
        background-color: $white-color;
        border-radius: 15px;
        padding: 5px 15px;
        margin-bottom: 25px;
    }
    h1 {
        color: $white-color;
        font-size: 55px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 35px;
        color: $white-color;
        font-size: 18px;
    }
    .banner-btn-area {
        .banner-btn {
            margin-right: 15px;
            color: $main-color;
            background-color: $white-color;

            &:hover {
                color: $white-color;
                background-color: $main-color;
            }
        }
    }
}
.video-wrap {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .js-modal-btn {
        z-index: 10;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        font-size: 40px;
        text-align: center;
        color: $orange-color;

        i {
            line-height: 100px;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 100px;
            height: 100px;
            background-color: $white-color;
            border-radius: 50%;
            z-index: -1;
            animation: pulse-border 1500ms ease-out infinite;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 100px;
            height: 100px;
            background-color: $white-color;
            border-radius: 50%;
            z-index: -1;
            transition: $transition;
        }
        &:hover {
            color: $white-color;

            &:before {
                background-color: $orange-color;
            }
            &:after {
                background-color: $orange-color;
            }
        }
    }
    span {
        display: inline-block;
        color: $orange-color;
        font-weight: 600;
        position: relative;
        top: -20px;
        margin-left: 25px;
    }
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/*-- Dream --*/
.dream-area {
    background-color: #f4f8f7;
}
.dream-item {
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #dddddd8c;
    border-radius: 30px 30px 0 30px;
    padding: 30px 25px 40px;
    position: relative;
    transition: $transition;
    background-color: $white-color;

    &:hover {
        transform: translate(0, -10px);
        border-radius: 0;
    }
    h3 {
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 1.4;

        a {
            color: $main-color;

            &:hover {
                color: $orange-color;
            }
        }
    }
    p {
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 500;

        span {
            color: $orange-color;
            margin-right: 3px;
        }
    }
    .sub-span {
        display: inline-block;
        text-align: center;
        width: 35px;
        height: 35px;
        line-height: 35px;
        color: $main-color;
        background-color: #e5e6ff;
        border-radius: 50%;
        position: absolute;
        right: 25px;
        bottom: 35px;
        font-weight: 600;
    }
}

/*-- About --*/
.about-area {
    .about-img {
        margin-bottom: 30px;

        img {
            width: 100%;
            animation: border-transform-default 10s linear infinite alternate forwards;
        }
    }
    .about-content {
        margin-bottom: 30px;

        .section-title {
            text-align: left;
            margin-bottom: 16px;

            h2 {
                margin-bottom: 0;
            }
        }
        .about-span {
            display: block;
            color: $main-color;
            margin-bottom: 10px;
            font-weight: 600;
        }
        p {
            margin-bottom: 10px;
        }
        .about-btn-area {
            margin-top: 30px;

            .about-btn {
                background-color: $main-color;
                margin-right: 15px;
    
                &:hover {
                    background-color: $orange-color;
                }
            }
        }
    }
}

/*-- Feature --*/
.feature-area {
    background-image: url('../img/feature-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.feature-item {
    margin-bottom: 30px;
    background-color: #23b187;
    border-radius: 30px 30px 0 30px;
    padding: 30px 30px 30px;
    transition: $transition;

    &.two {
        background-color: #ff6015;
    }
    &.three {
        background-color: #302c51;
    }
    &:hover {
        border-radius: 0;
        transform: translate(0, -10px);
    }
    i {
        display: inline-block;
        color: $white-color;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 14px;
    }
    h3 {
        margin-bottom: 10px;
        font-size: 22px;

        a {
            color: $white-color;

            &:hover {
                letter-spacing: 1px;
            }
        }
    }
    p {
        margin-bottom: 18px;
        color: $white-color;
    }
    .feature-btn {
        display: inline-block;
        color: $white-color;
        font-weight: 600;
        border: 1px solid $white-color;
        padding: 8px 25px;
        border-radius: 30px;

        &:hover {
            color: $main-color;
            background-color: $white-color;
        }
    }
}

/*-- Donation --*/
.donation-item {
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #dddddd8c;    
    border-radius: 30px 30px 0 30px;
    transition: $transition;

    &:hover {
        transform: translate(0, -10px);
        border-radius: 0;
        background-color: $main-color;
        
        .img {
            img {
                border-radius: 0;
            }
            .common-btn {
                opacity: 1;
                visibility: visible;
                bottom: 15px;
            }
        }
        .top {
            .tags {
                color: $white-color;
            }  
            h3 {
                a {
                    color: $white-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
            p {
                color: $white-color;
            }
        }  
        .bottom {
            .skill {
                &:before {
                    background: $white-color;
                }
            }
            ul {
                li {
                    color: $white-color;
                }
            }
            h4 {
                color: $white-color;
            }
            .skill-bar {
                span {
                    color: $white-color;
                }
            }
        }
    }
    .img {
        position: relative;
            
        img {
            width: 100%;
            border-radius: 30px 30px 0 30px;
            transition: $transition;
        }
        .common-btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            max-width: 160px;
            margin-left: auto;
            margin-right: auto;
            opacity: 0;
            visibility: hidden;
        }
    }
    .inner {
        padding: 26px 30px 30px;
    }
    .top {
        .tags {
            display: inline-block;
            color: $orange-color;
            font-weight: 600;
            margin-bottom: 12px;

            &:hover {
                color: $main-color;
            }
        }
        h3 {
            margin-bottom: 10px;
            font-size: 22px;

            a {
                color: $main-color;

                &:hover {
                    color: $orange-color;
                }
            }
        }
        p {
            margin-bottom: 0;
            transition: $transition;
        }
    }
    .bottom {
        position: relative; 
        padding-top: 25px;
        overflow: hidden;

        .skill {
            margin-bottom: 20px;
            position: relative;
                
            &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: 8px;
                bottom: 0;
                left: 0;
                display: block;
                background: #ebeded;
                border-radius: 30px;
                transition: $transition;
            }
        }
        .skill-bar {
            width: 100%;
            height: 8px;
            background: $orange-color;
            display: block;
            position: relative;
            border-radius: 30px;
            
            span {
                position: absolute;
                top: -26px;
                padding: 0;
                font-size: 15px;
                font-weight: 600;
                color: $main-color;
                margin-bottom: 0;
                display: inline-block;
                transition: $transition;
            }
        }
        .skill1 {
            width: 85%;  
    
            .skill-count1 {
                right: 7px;
            }
        }
        .skill2 {
            width: 95%;  
    
            .skill-count2 {
                right: 7px;
            }
        }
        .skill3 {
            width: 90%;  
    
            .skill-count3 {
                right: 7px;
            }
        }
        .skill4 {
            width: 80%;  
    
            .skill-count4 {
                right: 7px;
            }
        }
        .skill5 {
            width: 75%;  
    
            .skill-count5 {
                right: 7px;
            }
        }
        .skill6 {
            width: 70%;  
    
            .skill-count6 {
                right: 7px;
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 18px;

            li {
                display: inline-block;
                flex: 0 0 50%;
                max-width: 50%;
                transition: $transition;

                &:last-child {
                    text-align: right;
                }
            }
        }
        h4 {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
            transition: $transition;

            span {
                color: $orange-color;
            }
        }
    }
}

/*-- Work --*/
.work-area {
    background-color: #f9f9f9;

    .work-content {
        margin-bottom: 30px;

        .section-title {
            text-align: left;
        }
        ul {
            li {
                list-style-type: none;
                display: block;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 22px;
                    margin-bottom: 10px;

                    span {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        line-height: 35px;
                        color: $main-color;
                        background-color: #e5e6ff;
                        border-radius: 50%;
                        font-weight: 600;
                        font-size: 16px;
                        margin-right: 10px;
                    }
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .work-img {
        text-align: right;
        margin-bottom: 30px;

        img {
            border-radius: 5px;

            &:nth-child(1) {
                max-width: 405px;
            }
            &:nth-child(2) {
                max-width: 330px;
                margin-top: -150px;
                margin-right: 225px;
            }
        }
    }
}

/*-- Benefit --*/
.benefit-item {
    margin-bottom: 30px;
    text-align: center;
    border-radius: 30px;
    padding: 30px 15px 30px;
    border: 1px dashed #82ca9c;
    transition: $transition;
    background-color: $white-color;

    &.two {
        border: 1px dashed #f49ac1;
    }
    &.three {
        border: 1px dashed #8781bd;
    }
    &.four {
        border: 1px dashed #f9ad81;
    }
    &:hover {
        transform: translate(0, -10px);

        i {
            color: $white-color;
            background-color: $main-color;
        }
    }
    i {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 50%;
        color: $main-color;
        background-color: #e5e6ff;
        font-size: 35px;
        margin-bottom: 18px;
        transition: $transition;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 10px;
        color: $orange-color;
    }
    p {
        margin-bottom: 0;
    }
}

/*-- Event --*/
.event-area {
    background-image: url('../img/event/event-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #068761;
        opacity: .90;
    }
    .section-title {
        .sub-title {
            color: $white-color;
        }
        h2 {
            color: $white-color;
            margin-bottom: 0;
        }
    }
}
.event-item {
    margin-bottom: 30px;
    position: relative;
    transition: $transition;

    &:hover {
        transform: translate(0, -10px);

        img {
            border-radius: 0;
        }
        &:before {
            border-radius: 0;
        }
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(48,44,81,0.9377553704079618) 0%, rgba(48,44,81,0) 74%);
        border-radius: 30px 30px 0 30px;
        transition: $transition;
    }
    img {
        display: inline-block;
        border-radius: 30px 30px 0 30px;
        width: 100%;
        transition: $transition;
    }
    .inner {
        position: absolute;
        top: 30px;
        left: 30px;
        padding-left: 90px;

        h4 {
            max-width: 65px;
            padding-top: 5px;
            padding-bottom: 5px;
            position: absolute;
            top: 0;
            left: 0;
            color: $orange-color;
            margin-bottom: 0;
            font-size: 30px;
            background-color: $white-color;
            border-radius: 5px;
            text-align: center;
            height: 75px;

            span {
                color: $main-color;
                font-weight: 400;
                font-size: 24px;
                position: relative;
                top: -7px;
            }
        }
        h3 {
            margin-bottom: 10px;
            font-size: 22px;
            margin-top: 8px;

            a {
                color: $white-color;

                &:hover {
                    color: $orange-color;
                }
            }
        }
        ul {
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 15px;
                color: $white-color;
                font-size: 15px;

                &:last-child {
                    margin-right: 0;
                }
                i {
                    display: inline-block;
                    color: $orange-color;
                    margin-right: 3px;
                    font-size: 16px;
                }
            }
        }
    }
}
.event-item-right {
    padding-left: 90px;
    position: relative;
    border-bottom: 1px solid #2e9a7a;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    h4 {
        max-width: 65px;
        position: absolute;
        top: 0;
        left: 0;
        color: $orange-color;
        margin-bottom: 0;
        font-size: 30px;
        background-color: $white-color;
        border-radius: 5px;
        text-align: center;
        height: 60px;

        span {
            color: $main-color;
            font-weight: 400;
            font-size: 20px;
            position: relative;
            top: -12px;
        }
    }
    h3 {
        margin-bottom: 10px;
        font-size: 22px;

        a {
            color: $white-color;

            &:hover {
                color: $orange-color;
            }
        }
    }
    ul {
        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 15px;
            color: $white-color;
            font-size: 15px;

            &:last-child {
                margin-right: 0;
            }
            i {
                display: inline-block;
                color: $orange-color;
                margin-right: 3px;
                font-size: 16px;
            }
        }
    }
}

/*-- Gallery --*/
.gallery-item {
    margin-bottom: 30px;
    position: relative;
    transition: $transition;

    &:hover {
        transform: translate(0, -10px);

        img {
            border-radius: 0;
        }
        &:before {
            transform: scale(1);
            opacity: .80;
            visibility: visible;
            border-radius: 0;
        }
        i {
            opacity: 1;
            visibility: visible;
        }
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $main-color;
        opacity: 0;
        transition: $transition;
        transform: scale(.80);
        visibility: hidden;
        border-radius: 30px 30px 0 30px;
    }
    img {
        width: 100%;
        border-radius: 30px 30px 0 30px;
        transition: $transition;
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        color: $white-color;
        font-size: 40px;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }
}

/*-- Blog --*/
.blog-area {
    background-color: #f9f9f9;
}
.blog-item {
    background-color: $white-color;
    margin-bottom: 30px;
    border-radius: 30px 30px 0 30px;
    transition: $transition;

    &:hover {
        transform: translate(0, -10px);
        border-radius: 0;

        .top {
            a {
                img {
                    border-radius: 0;
                }
            }
        }
    }
    .top {
        a {
            display: block;

            img {
                width: 100%;
                border-radius: 30px 30px 0 30px;
                transition: $transition;
            }
        }
    }
    .bottom {
        padding: 25px 25px 28px;

        ul {
            margin-bottom: 16px;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 15px;
                font-size: 15px;

                &:last-child {
                    margin-right: 0;
                }
                i {
                    color: $orange-color;
                    display: inline-block;
                    margin-right: 3px;
                    position: relative;
                    top: -1px;
                }
                span {
                    display: inline-block;
                }
                a {
                    display: inline-block;
                    color: $paragraph-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
        h3 {
            font-size: 22px;
            margin-bottom: 10px;
            line-height: 1.4;

            a {
                color: $main-color;

                &:hover {
                    color: $orange-color;
                }
            }
        }
        p {
            margin-bottom: 12px;
        }
        .blog-btn {
            display: inline-block;
            font-weight: 600;
            color: $orange-color;

            &:hover {
                color: $main-color;
            }
        }
    }
}

/*-- Footer --*/
.footer-area {
    background-color: $main-color;

    .copyright-area {
        margin-top: 70px;
        text-align: center;
        border-top: 1px solid #4f4b6b;
        padding-top: 25px;
        padding-bottom: 25px;

        p {
            margin-bottom: 0;
            color: $white-color;

            a {
                display: inline-block;
                color: $orange-color;
                font-weight: 600;

                &:hover {
                    color: $white-color;
                }
            }
        }
    }
}
.footer-item {
    margin-bottom: 30px;

    h3 {
        margin-bottom: 30px;
        color: $white-color;
        font-size: 22px;
    }
    .footer-logo {
        .logo {
            display: block;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 22px;
            color: $white-color;
        }
        ul {
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
                a {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: $white-color;
                    border: 1px solid $white-color;
                    border-radius: 50%;
                    font-size: 14px;
                    display: inline-block;

                    i {
                        line-height: 30px;
                    }
                    &:hover {
                        color: $orange-color;
                        background-color: $white-color;
                    }
                }
            }
        }
    }
    .footer-causes {
        .cause-inner {
            border-bottom: 1px solid #4f4b6b;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    list-style-type: none;
                    display: inline-block;

                    &:nth-child(1) {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 65%;
                        max-width: 65%;
                        margin-left: 15px;
                    }
                    img {
                        border-radius: 5px;
                    }
                    h3 {
                        margin-bottom: 0;
                        font-size: 16px;
                        line-height: 1.4;

                        a {
                            color: $white-color;

                            &:hover {
                                color: $orange-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-links {
        ul {
            li {
                list-style-type: none;
                display: block;
                border-bottom: 1px solid #4f4b6b;
                margin-bottom: 10px;
                padding-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
                a {
                    display: block;
                    color: $white-color;

                    &:hover {
                        color: $orange-color;
                    }
                    i {
                        display: inline-block;
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .footer-contact {
        .contact-inner {
            border-bottom: 1px solid #4f4b6b;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            ul {
                li {
                    list-style-type: none;
                    display: inline-block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    i {
                        display: inline-block;
                        color: $white-color;
                        font-size: 20px;
                        position: absolute;
                        top: 3px;
                        left: 0;
                    }
                    a {
                        display: inline-block;
                        color: $white-color;

                        &:hover {
                            color: $orange-color;
                        }
                    }
                }
            }
        }
    }
}

/*----- Home Demo Two CSS -----*/
/*-- Banner --*/
.banner-area-two {
    .banner-img-one {
        background-image: url('../img/banner/banner-bg2.jpg');
    }
    .banner-img-two {
        background-image: url('../img/banner/banner-bg2.jpg');
    }
    .banner-img-three {
        background-image: url('../img/banner/banner-bg3.jpg');
    }
    .banner-slider-item {
        height: 900px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        .banner-shape {
            position: absolute;
            left: -225px;
            right: 0;
            top: 170px;
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .banner-content {
        background-image: url('../img/banner/banner-main1.jpg');
        animation: border-transform-default 10s linear infinite alternate forwards;
        margin-top: 50px;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 100px 80px 100px;
        position: relative;
        z-index: 1;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $orange-color;
            opacity: .80;
            animation: border-transform-default 10s linear infinite alternate forwards;
            z-index: -1;
        }
        .banner-btn-area {
            .banner-btn {
                color: $white-color;
                background-color: $main-color;

                &:hover {
                    color: $main-color;
                    background-color: $white-color;
                }
            }
        }
    }
    .owl-theme .owl-nav {
        margin-top: 0;
    }
    .owl-prev {
        position: absolute;
        top: 48%;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 5px !important;
        color: $white-color !important;
        background-color: $orange-color !important;
        font-size: 30px !important;
        transition: $transition;

        i {
            line-height: 50px;
        }
        &:hover {
            color: $white-color !important;
            background-color: $main-color !important;
        }
    }
    .owl-next {
        position: absolute;
        top: 48%;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 5px !important;
        color: $white-color !important;
        background-color: $orange-color !important;
        font-size: 30px !important;
        transition: $transition;

        i {
            line-height: 50px;
        }
        &:hover {
            color: $white-color !important;
            background-color: $main-color !important;
        }
    }
}

/*-- Feature Two --*/
.feature-area.two {
    background-image: unset;
    position: relative;
    margin-top: -50px;
    z-index: 1;
}

/*-- About Two --*/
.about-area.two {
    .about-content {
        p {
            margin-bottom: 20px;
        }
        ul {
            li {
                list-style-type: none;
                display: block;
                margin-bottom: 12px;

                &:hover {
                    span {
                        color: $white-color;
                        background-color: $main-color;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    color: $main-color;
                    font-weight: 600;
                    background-color: #e5e6ff;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 15px;
                    margin-right: 5px;
                    transition: $transition;
                }
            }
        }
        .about-btn-area {
            margin-top: 35px;
        }
    }
    .about-img {
        .video-wrap {
            .js-modal-btn {
                color: $white-color;

                &:before {
                    background-color: $orange-color;
                }
                &:after {
                    background-color: $orange-color;
                }
                &:hover {
                    color: $orange-color;

                    &:before {
                        background-color: $white-color;
                    }
                    &:after {
                        background-color: $white-color;
                    }
                }
            }
        }
    }
}

/*-- Donation Two --*/
.donations-area.two {
    background-color: #f4f8f7;

    .donation-item {
        background-color: $white-color;

        &:hover {
            background-color: $main-color;
        }
    }
}

/*-- Benefit Two --*/
.benefit-area.two {
    .section-title {
        text-align: left;
    }
    .benefit-img {
        margin-bottom: 30px;
        position: relative;

        img {
            &:nth-child(1) {
                width: 100%;
                animation: border-transform-default 10s linear infinite alternate forwards;
                z-index: 1;
                position: relative;
            }
            &:nth-child(2) {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
    .benefit-item {
        border: 0;
        padding: 0;
        text-align: left;
    }
}

/*-- Team --*/
.team-item {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 30px 30px 0 30px;
    box-shadow: 0px 0px 20px 0px #dddddd8c;
    transition: $transition;

    &:hover {
        transform: translate(0, -10px);
        border: 0;

        .top {
            img {
                border-radius: 0;
            }
            ul {
                opacity: 1;
                visibility: visible;
                bottom: 15px;
            }
        }
    }
    .top {
        position: relative;

        img {
            width: 100%;
            border-radius: 30px 30px 0 30px;
            transition: $transition;
        }
        ul {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: $transition;

            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 3px;
                margin-right: 3px;

                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: $white-color;
                    background-color: $main-color;
                    font-size: 14px;
                    border-radius: 50%;
                     
                    i {
                        line-height: 30px;
                    }
                    &:hover {
                        transform: translate(0, -5px);
                    }
                }
            }
        }
    }
    .bottom {
        padding: 28px 25px 30px;

        h3 {
            font-size: 22px;
            margin-bottom: 5px;
        }
        span {
            display: block;
            color: $orange-color;
        }
    }
}

/*----- Home Demo Three CSS -----*/
/*-- Banner --*/
.banner-area-two.three {
    .banner-img-four {
        background-image: url('../img/banner/banner-bg5.jpg');
    }
    .banner-img-five {
        background-image: url('../img/banner/banner-bg1.jpg');
    }
    .banner-img-six {
        background-image: url('../img/banner/banner-bg6.jpg');
    }
    .banner-slider-item {
        height: 850px;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $main-color;
            opacity: .60;
        }
    }
    .banner-content {
        background-image: unset;
        animation: unset;
        margin-top: 50px;
        max-width: 540px;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        padding: 0;

        &:before {
            display: none;
        }
    }
}

/*-- Benefit Two --*/
.benefit-area.three {
    background-color: #f9f9f9;
}

/*-- Donation Three --*/
.donations-area.three {
    .donation-item {
        padding: 30px 30px 30px;

        .inner {
            padding: 0;
        }
        .top {
            p {
                margin-bottom: 25px;
            }
        }
        .img {
            .common-btn {
                opacity: 1;
                visibility: visible;
                bottom: -23px;
                z-index: 1;
            }
        }
        .bottom {
            padding-top: 55px;
        }
    }
}

/*-- Counter --*/
.counter-item {
    text-align: center;
    margin-bottom: 30px;

    i {
        display: inline-block;
        color: $orange-color;
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    h3 {
        margin-bottom: 6px;
        font-size: 60px;

        .target {
            font-size: 35px;
            margin-left: -10px;
        }
    }
    p {
        margin-bottom: 0;
        font-weight: 600;
    }
}

/*-- Testimonial --*/
.testimonial-area {
    background-color: #f9f9f9;

    .section-title {
        h2 {
            margin-bottom: 0;
        }
    }
    .testimonial-img {
        margin-bottom: 30px;

        img {
            width: 100%;
            border-radius: 30px 30px 0 30px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 5px;
        }
        span {
            display: block;
        }
    }
    .testimonial-content {
        padding: 50px 50px 50px 30px;
        border-radius: 30px 30px 30px 0;
        box-shadow: 0px 0px 20px 0px #dddddd8c;
        position: relative;
        background-color: $white-color;
        margin-top: 80px;
        margin-bottom: 30px;

        &:before {
            position: absolute;
            content: '';
            width: 80px;
            height: 100%;
            top: 0;
            left: -50px;
            background-color: #fff;
            border-radius: 30px 0 0 0;
        }
        ul {
            margin-bottom: 15px;

            li {
                list-style-type: none;
                display: inline-block;

                i {
                    display: inline-block;
                    font-size: 18px;

                    &.checked {
                        color: $orange-color;
                    }
                }
            }
        }
        p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 20px;
        }
        .quote {
            display: inline-block;
            color: #eeeefa;
            font-size: 55px;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 35px;
        height: 8px;
        background: #bab9c4;
    }
    .owl-theme .owl-dots .owl-dot.active span {
        background: $orange-color;
    }
}

/*-- Blog --*/
.blog-area.three {
    background-color: $white-color;

    .blog-item {
        box-shadow: 0px 0px 20px 0px #dddddd8c;
    }
}

/*----- About CSS -----*/
.title-bg-one {
    background-image: url('../img/banner/title-bg1.jpg');
}
.title-bg-two {
    background-image: url('../img/banner/title-bg2.jpg');
}
.title-bg-three {
    background-image: url('../img/banner/title-bg3.jpg');
}
.title-bg-four {
    background-image: url('../img/banner/title-bg4.jpg');
}
.title-bg-five {
    background-image: url('../img/banner/title-bg5.jpg');
}
.title-bg-six {
    background-image: url('../img/banner/title-bg6.jpg');
}
.title-bg-seven {
    background-image: url('../img/banner/title-bg7.jpg');
}
.title-bg-eight {
    background-image: url('../img/banner/title-bg8.jpg');
}
.title-bg-nine {
    background-image: url('../img/banner/title-bg9.jpg');
}
.title-bg-ten {
    background-image: url('../img/banner/title-bg10.jpg');
}
.title-bg-eleven {
    background-image: url('../img/banner/title-bg11.jpg');
}
.title-bg-twelve {
    background-image: url('../img/banner/title-bg12.jpg');
}
.title-bg-thirteen {
    background-image: url('../img/banner/title-bg13.jpg');
}
.title-bg-fourteen {
    background-image: url('../img/banner/title-bg14.jpg');
}
.page-title-area {
    height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $main-color;
        opacity: .75;
    }
    .title-item {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: 95px;

        h2 {
            font-size: 65px;
            color: $white-color;
            margin-bottom: 5px;
        }
        ul {
            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 14px;
                margin-right: 14px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 5px;
                    top: 10px;
                    left: 60px;
                    background-color: #fff;
                    transition: $transition;
                    animation: rotate360 1s infinite linear;
                    border: 2px solid #ff6015;
                }
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
                a {
                    display: inline-block;
                    color: $white-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
                span {
                    display: inline-block;
                    color: $white-color;
                }
            }
        }
    }
}
.team-area.four {
    background-color: #f9f9f9;
}
.pagination-area {
    text-align: center;

    ul {
        li {
            list-style-type: none;
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;

            a {
                display: block;
                color: $orange-color;
                background-color: $white-color;
                box-shadow: 0px 0px 20px 0px #dddddd8c;
                padding: 5px 15px;
                border-radius: 8px 8px 0 8px;

                &:hover,&.active {
                    color: $white-color;
                    background-color: $orange-color;
                }
            }
        }
    }
}

/*----- Donation Details CSS -----*/
.donation-details-area {
    .details-item {
        .details-img {
            margin-bottom: 25px;

            img {
                width: 100%;
                margin-bottom: 20px;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 15px;
                line-height: 1.4;
            }
            p {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            blockquote {
                background-color: #f9f9f9;
                padding: 30px 30px 30px 60px;
                font-size: 18px;
                font-weight: 600;
                color: #302c51;
                position: relative;
                margin-left: 35px;
                margin-top: 30px;
                margin-bottom: 25px;

                i {
                    position: absolute;
                    top: 45px;
                    left: -35px;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    background-color: $white-color;
                    color: $orange-color;
                    box-shadow: 0px 0px 20px 0px #dddddd8c;
                    font-size: 30px;
                    border-radius: 50%;
                }
            }
        }
        .details-share {
            margin-bottom: 30px;

            .left {
                ul {
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 3px;

                        &:last-child {
                            margin-right: 0;
                        }
                        span {
                            display: inline-block;
                            font-weight: 600;
                            margin-right: 5px;
                        }
                        a {
                            display: block;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            color: $orange-color;
                            border: 1px solid $orange-color;
                            border-radius: 50%;
                            font-size: 15px;

                            i {
                                line-height: 30px;
                            }
                            &:hover {
                                color: $white-color;
                                background-color: $orange-color;
                            }
                        }
                    }
                }
            }
            .right {
                text-align: right;

                ul {
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;

                        &:before {
                            position: absolute;
                            content: ',';
                            color: #ff6015;
                            top: -5px;
                            right: -7px;
                            font-size: 20px;
                        }
                        &:first-child {
                            &:before {
                                display: none;
                            }
                        }
                        &:last-child {
                            margin-right: 0;

                            &:before {
                                display: none;
                            }
                        }
                        span {
                            display: inline-block;
                            font-weight: 600;
                        }
                        a {
                            display: inline-block;
                            color: $orange-color;

                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }
        .details-payment {
            background-color: #fafafa;
            padding: 50px 50px 50px;

            h3 {
                font-size: 25px;
                margin-bottom: 8px;
                margin-top: -5px;
            }
            .form-radio-area {
                margin-bottom: 30px;

                .form-check-label {
                    color: $main-color;
                }
            }
            .form-input-area {
                .form-group {
                    position: relative;
                    margin-bottom: 15px;

                    label {
                        margin-bottom: 0;
                        position: absolute;
                        top: 10px;
                        left: 15px;
                        color: $orange-color;
                        font-size: 20px;
                    }
                    .form-control {
                        height: 50px;
                        border-radius: 5px;
                        border: 0;
                        background-color: $white-color;
                        padding-left: 45px;

                        &:focus {
                            border: 0;
                            box-shadow: none;
                        }
                    }
                }
                .common-btn {
                    transition: $transition;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}
.widget-area {
    .widget-item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    .search {
        position: relative;

        .form-control {
            height: 50px;
            border-radius: 5px;
            padding-left: 15px;
            font-size: 15px;
            border: 0;
            background-color: #f9f9f9;

            &:focus {
                border: 0;
                box-shadow: none;
            }
        }
        .btn {
            padding: 0;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 20px;
            color: $orange-color;
            transition: $transition;

            &:hover {
                color: $main-color;
            }
        }
    }
    .post {
        .post-inner {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    list-style-type: none;
                    display: inline-block;

                    &:nth-child(1) {
                        flex: 0 0 28%;
                        max-width: 28%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 67%;
                        max-width: 67%;
                        margin-left: 15px;
                    }
                    h4 {
                        font-size: 16px;
                        margin-bottom: 3px;

                        a {
                            color: $main-color;

                            &:hover {
                                color: $orange-color;
                            }
                        }
                    }
                    p {
                        margin-bottom: 0;
                        font-size: 14px;

                        a {
                            display: inline-block;
                            color: $paragraph-color;

                            &:hover {
                                color: $orange-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .common-right-content {
        ul {
            li {
                list-style-type: none;
                display: block;
                border-bottom: 1px solid #f5f2f2;
                position: relative;
                padding-left: 15px;
                margin-bottom: 10px;
                padding-bottom: 10px;
                transition: $transition;

                &:hover {
                    margin-left: 5px;
                }
                &:before {
                    position: absolute;
                    content: '';
                    top: 10px;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $orange-color;
                }
                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    color: $main-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }
    .instagram {
        .instagram-item {
            position: relative;

            img {
                width: 100%;
            }
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $main-color;
                opacity: 0;
                visibility: hidden;
                transform: scale(.50);
                transition: $transition;
            }
            a {
                display: inline-block;
                color: $white-color;
                font-size: 35px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                transition: $transition;
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                &:before {
                    opacity: .70;
                    visibility: visible;
                    transform: scale(1);
                }
                a {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
.event-area.four {
    background-image: unset;

    &:before {
        display: none;
    }
}

/*----- Event Details CSS -----*/
.event-details-area {
    .details-item {
        .details-img {
            img {
                width: 100%;
                margin-bottom: 20px;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 15px;
                line-height: 1.4;
            }
            p {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            ul {
                margin-top: 25px;
                margin-bottom: 20px;

                li {
                    list-style-type: none;
                    display: block;
                    margin-bottom: 10px;
                    padding-left: 20px;
                    position: relative;
                    font-weight: 600;


                    &:before {
                        position: absolute;
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        top: 8px;
                        left: 0;
                        background-color: $orange-color;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.widget-area {
    .information {
        ul {
            li {
                list-style-type: none;
                display: block;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    display: inline-block;
                    font-weight: 600;
                    margin-right: 3px;
                    color: $main-color;
                }
                a {
                    display: inline-block;
                    color: $paragraph-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }
}

/*----- Blog Details CSS -----*/
.blog-details-area {
    .details-item {
        .details-img {
            img {
                width: 100%;
                margin-bottom: 20px;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 5px;
                line-height: 1.4;
            }
            ul {
                margin-bottom: 10px;

                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 14px;

                    &:last-child {
                        margin-right: 0;
                    }
                    i {
                        display: inline-block;
                        font-size: 16px;
                        color: $orange-color;
                        margin-right: 3px;
                        position: relative;
                        top: -1px;
                    }
                    a {
                        display: inline-block;
                        color: $paragraph-color;

                        &:hover {
                            color: $orange-color;
                        }
                    }
                }
            }
            p {
                margin-bottom: 10px;
            }
            .img {
                padding-top: 20px;

                img {
                    width: 100%;
                    margin-bottom: 30px;
                }
                p {
                    margin-bottom: 30px;
                }
            }
            blockquote {
                background-color: #f9f9f9;
                padding: 30px 30px 30px 60px;
                font-size: 18px;
                font-weight: 600;
                color: #302c51;
                position: relative;
                margin-left: 35px;
                margin-bottom: 25px;

                i {
                    position: absolute;
                    top: 45px;
                    left: -35px;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    background-color: $white-color;
                    color: $orange-color;
                    box-shadow: 0px 0px 20px 0px #dddddd8c;
                    font-size: 30px;
                    border-radius: 50%;
                }
            }
            .img-area {
                padding-top: 20px;

                img {
                    margin-bottom: 30px;
                    width: 100%;
                }
            }
        }
        .details-share {
            margin-bottom: 30px;

            .left {
                ul {
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 3px;

                        &:last-child {
                            margin-right: 0;
                        }
                        span {
                            display: inline-block;
                            font-weight: 600;
                            margin-right: 5px;
                        }
                        a {
                            display: block;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            color: $orange-color;
                            border: 1px solid $orange-color;
                            border-radius: 50%;
                            font-size: 15px;

                            i {
                                line-height: 30px;
                            }
                            &:hover {
                                color: $white-color;
                                background-color: $orange-color;
                            }
                        }
                    }
                }
            }
            .right {
                text-align: right;

                ul {
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;

                        &:before {
                            position: absolute;
                            content: ',';
                            color: #ff6015;
                            top: -5px;
                            right: -7px;
                            font-size: 20px;
                        }
                        &:first-child {
                            &:before {
                                display: none;
                            }
                        }
                        &:last-child {
                            margin-right: 0;

                            &:before {
                                display: none;
                            }
                        }
                        span {
                            display: inline-block;
                            font-weight: 600;
                        }
                        a {
                            display: inline-block;
                            color: $orange-color;

                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }
        .details-comment {
            margin-bottom: 30px;

            h3 {
                font-size: 22px;
                margin-bottom: 30px;
            }
            ul {
                li {
                    list-style-type: none;
                    display: inline-block;
                    position: relative;
                    padding-left: 130px;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                        margin-left: 70px;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                    }
                    h4 {
                        font-size: 17px;
                        margin-bottom: 5px;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    a {
                        display: inline-block;
                        color: $orange-color;
                        font-weight: 600;
                        position: absolute;
                        top: 0;
                        right: 0;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .details-post {
            background-color: #fafafa;
            padding: 50px 50px 50px;

            h3 {
                font-size: 22px;
                margin-bottom: 15px;
                margin-top: -5px;
            }
            .form-group {
                position: relative;
                margin-bottom: 15px;

                label {
                    margin-bottom: 0;
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    color: $orange-color;
                    font-size: 20px;
                }
                .form-control {
                    height: 50px;
                    border-radius: 5px;
                    border: 0;
                    background-color: $white-color;
                    padding-left: 45px;
                    font-size: 15px;

                    &:focus {
                        border: 0;
                        box-shadow: none;
                    }
                }
                textarea {
                    height: auto !important;
                    padding-top: 13px;
                }
            }
            .common-btn {
                transition: $transition;
                width: 100%;
                display: block;
            }
        }
    }
}
.widget-area {
    .admin {
        background-color: #fafafa;
        padding: 30px 30px 30px;
        text-align: center;

        img {
            border-radius: 50%;
            margin-bottom: 15px;
        }
        h4 {
            margin-bottom: 12px;
            font-size: 18px;
        }
        span {
            display: block;
            font-size: 15px;
            margin-bottom: 12px;
        }
        ul {
            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 3px;
                margin-right: 3px;

                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: $orange-color;
                    background-color: $white-color;
                    box-shadow: 0px 0px 20px 0px #dddddd8c;
                    border-radius: 50%;
                    font-size: 15px;

                    i {
                        line-height: 30px;
                    }
                    &:hover {
                        color: $white-color;
                        background-color: $orange-color;
                    }
                }
            }
        }
    }
}

/*----- Contact CSS -----*/
.contact-info-area {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .contact-info {
        margin-bottom: 30px;
        text-align: center;

        i {
            display: inline-block;
            color: $orange-color;
            font-size: 22px;
            margin-bottom: 10px;
        }
        span {
            display: block;
            color: $orange-color;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 5px;
        }
        a {
            display: block;
            color: $main-color;

            &:hover {
                color: $orange-color;
            }
        }
    }
}
.contact-area {
    #contactForm {
        margin-bottom: 30px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h2 {
            font-size: 25px;
            margin-bottom: 5px;
            margin-top: -5px;
        }
        p {
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 15px;
            position: relative;

            label {
                margin-bottom: 0;
                position: absolute;
                top: 12px;
                left: 12px;
                display: inline-block;
                font-size: 17px;
                color: $orange-color;
            }
            .form-control {
                height: 50px;
                border-radius: 5px;
                background-color: #f9f9f9;
                padding-left: 40px;
                font-size: 15px;
                border: 0;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            textarea {
                height: auto !important;
                padding-top: 13px;
            }
            .list-unstyled {
                font-size: 15px;
                margin-top: 10px;
                color: #dc3545;
            }
        }
        .common-btn {
            width: 100%;
            text-align: center;
            display: block;
            transition: $transition;
            opacity: 1;
        }
        .text-danger {
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 22px;
            color: #dc3545;
        }
        .text-success {
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 22px;
            color: #28a745;
        }
    }
}
.map-area {
    #map {
        width: 100%;
        display: block;
        height: 400px;
        border: 0;
    }
}

/*----- User CSS -----*/
.user-form-area {
    .user-img {
        background-image: url('../img/user-form-bg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        img {
            display: none;
        }
    }
    .user-content {
        height: 100vh;

        .user-content-inner {
            text-align: center;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;

            .top {
                margin-bottom: 40px;

                a {
                    display: block;
                    margin-bottom: 30px;
                }
                h2 {
                    font-size: 25px;
                    margin-bottom: 0;
                    background-color: #fafafa;
                    border-left: 2px solid $orange-color;
                    border-right: 2px solid $orange-color;
                    padding-top: 15px;
                    padding-bottom: 17px;
                }
            }
            .form-group {
                margin-bottom: 20px;

                .form-control {
                    height: 50px;
                    padding-left: 15px;
                    font-size: 15px;
                    border: 1px solid #f1f1f1;
                    transition: $transition;

                    &:focus {
                        border: 1px solid $orange-color;
                        box-shadow: none;
                    }
                }
            }
            .common-btn {
                display: block;
                width: 100%;
                text-align: center;
                transition: $transition;
            }
            .bottom {
                margin-top: 30px;

                p {
                    margin-bottom: 25px;
                    
                    a {
                        color: $main-color;
                        font-weight: 600;

                        &:hover {
                            color: $orange-color;
                        }
                    }
                }
                h4 {
                    font-weight: 400;
                    font-size: 15px;
                    margin-bottom: 30px;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 45%;
                        height: 1px;
                        top: 10px;
                        left: 0;
                        background-color: $orange-color;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        width: 45%;
                        height: 1px;
                        top: 10px;
                        right: 0;
                        background-color: $orange-color;
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-bottom: 15px;
                        margin-left: 5px;
                        margin-right: 5px;

                        &:last-child {
                            margin-bottom: 0;

                            a {
                                color: #4885ed;
                                border: 1px solid #4885ed;

                                &:hover {
                                    background-color: #4885ed;
                                }
                            }
                        }
                        a {
                            display: block;
                            border: 1px solid #3B5998;
                            color: #3B5998;
                            border-radius: 30px;
                            padding: 10px 25px 10px 20px;
                            font-weight: 500;

                            i {
                                display: inline-block;
                                font-size: 18px;
                                position: relative;
                                top: 1px;
                            }
                            &:hover {
                                color: $white-color;
                                background-color: #3B5998;
                            }
                        }
                    }
                }
            }
        }
    }
}
.testimonial-area.two {
    .testimonial-img {
        margin-bottom: 0;
    }
    .testimonial-content {
        margin-bottom: 0;
    }
    .row {
        margin-bottom: 30px;
    }
}

/*-- FAQ --*/
.faq-area {
    .accordion { 
        margin-bottom: 30px;
    
        p {
            display: none;
            padding: 20px 25px 20px;
            margin-bottom: 0;
        }
        li {
            position: relative;
            list-style-type: none;
            margin-bottom: 20px;
            display: block;
            box-shadow: 0px 0px 30px 0px #dddddd42;
            border-radius: 5px;
    
            &:first-child {
                border-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                width: 100%;
                display: block;
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                color: $main-color;
                padding: 13px 38px 13px 20px;
                border-radius: 5px;

                &.active {
                    color: $white-color;
                    background-color: $orange-color;

                    i {
                        color: $white-color;
                        opacity: 0;
                        
                        &.two {
                            opacity: 1;
                        }
                    }
                }
                i {
                    position: absolute;
                    top: 19px;
                    right: 20px;
                    color: $main-color;
                    display: inline-block;
                    font-size: 18px;
                    opacity: 1;
                    transition: $transition;

                    &.two {
                        opacity: 0;
                    }
                }
            }
        }
    }
    .faq-img {
        margin-bottom: 30px;

        img{
            width: 100%;
        }
    }
}

/*----- Error CSS -----*/
.error-area {
    height: 100vh;

    .error-item {
        text-align: center;

        h1 {
            font-size: 150px;
            margin-bottom: 5px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 30px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/*----- Coming Soon CSS -----*/
.coming-soon-area {
    height: 100vh;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .soon-item {
        h1 {
            font-size: 100px;
            font-weight: 900;
            color: $orange-color;
            margin-bottom: 15px;
        }
        span {
            display: inline-block;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 30px;
            color: $main-color;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 35px;
                height: 2px;
                left: -45px;
                top: 14px;
                background-color: $main-color;
            }
            &:after {
                position: absolute;
                content: '';
                width: 35px;
                height: 2px;
                right: -45px;
                top: 14px;
                background-color: $main-color;
            }
        }
        .coming-inner {
            margin-bottom: 30px;
            border-radius: 5px;

            h3 {
                font-weight: 700;
                font-size: 50px;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

/*----- Rules CSS -----*/
.rules-area {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .rules-item {
        h3 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        ul {
            margin-bottom: 30px;

            li {
                list-style-type: none;
                display: inline-block;
                position: relative;
                padding-left: 15px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    position: absolute;
                    content: '';
                    top: 9px;
                    left: 0;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: $orange-color;
                }
            }
        }
        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*----- Go Top CSS -----*/
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 0;
    color: #ffffff;
    background-color: $orange-color;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    transition: .9s;
    border-radius: 50%;
    border: 1px solid $orange-color;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: 0.6s;
        font-size: 25px;
        line-height: 45px;

        &:last-child {
            opacity: 0;
            visibility: hidden;
            top: 60%;
        }
    }
    &.active {
        right: 1%;
        transform: translateY(-1%);
        opacity: 1;
        visibility: visible;
    }
    &:hover, &:focus {
        color: #ffffff;
        border: 1px solid $main-color;
        background-color: $main-color;

        i {
            &:first-child {
                opacity: 0;
                top: 0;
                visibility: hidden;
            }
            &:last-child {
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
        }
    }
}

/*----- Preloader CSS -----*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: $white-color;
}
.pre-box-one {
    text-align: center;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: $orange-color;
        animation: pre-rotate 3s infinite alternate;
    }
    &:after {
        position: absolute;
        width: 90%;
        height: 90%;
        background: $white-color;
        content: '';
    }
}
.pre-box-two {
    height: 50%;
    width: 50%;
    background: $orange-color;
    position: relative;
    z-index: 10;  
    animation: 3s pre-rotate infinite alternate;
}
@keyframes pre-rotate {
    0%{
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(360deg);
    }
}