/*
@File: Finod Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Navbar CSS
** - Home Demo One CSS
** - Home Demo Two CSS
** - Home Demo Three CSS
** - About CSS
** - Donation Details CSS
** - Event Details CSS
** - Blog Details CSS
** - User CSS
** - FAQ CSS
** - Error CSS
** - Coming Soon CSS
** - Rules CSS
** - Go Top CSS
** - Preloader CSS
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
/*----- Default CSS -----*/
body {
  font-family: "Open Sans", sans-serif;
  color: #757575;
  background-color: #fff;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #302c51;
  font-family: "Quicksand", sans-serif;
}

p {
  line-height: 1.7;
}

a {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

button:focus {
  outline: 0;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
}

.common-btn {
  color: #fff;
  background-color: #ff6015;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
}

.common-btn:hover {
  color: #fff;
  background-color: #302c51;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

.section-title .sub-title {
  display: inline-block;
  color: #ff6015;
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.section-title p {
  margin-bottom: 0;
  max-width: 595px;
  margin-left: auto;
  margin-right: auto;
}

/*----- Home Demo One CSS -----*/
/*-- Header --*/
.header-area {
  background-color: #302c51;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-area .left ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

.header-area .left ul li:last-child {
  margin-right: 0;
}

.header-area .left ul li i {
  display: inline-block;
  color: #fff;
  font-size: 15px;
}

.header-area .left ul li a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.header-area .left ul li a:hover {
  color: #ff6015;
}

.header-area .right {
  text-align: right;
}

.header-area .right ul {
  display: inline-block;
  margin-right: 20px;
}

.header-area .right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
}

.header-area .right ul li:last-child {
  margin-right: 0;
}

.header-area .right ul li span {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  font-size: 14px;
}

.header-area .right ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 13px;
}

.header-area .right ul li a i {
  line-height: 30px;
}

.header-area .right ul li a:hover {
  color: #fff;
  background-color: #ff6015;
  border: 1px solid #ff6015;
}

.header-area .right .nav-flag-dropdown {
  margin-right: 15px;
  display: inline-block;
  z-index: 9999;
}

.header-area .right .nav-flag-dropdown img {
  width: 30px;
  border-radius: 50%;
  margin-right: 3px;
}

.header-area .right .nav-flag-dropdown .btn {
  font-weight: 600;
  font-size: 15px;
  padding: 0;
  border: 0;
  color: #fff;
}

.header-area .right .nav-flag-dropdown .btn i {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  top: 3px;
}

.header-area .right .nav-flag-dropdown .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px 0px #cacaca59;
          box-shadow: 0px 0px 20px 0px #cacaca59;
  top: 170%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.header-area .right .nav-flag-dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  top: 30% !important;
}

.header-area .right .nav-flag-dropdown .dropdown-menu a {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
  border-left: 3px solid transparent;
  color: #302c51;
}

.header-area .right .nav-flag-dropdown .dropdown-menu a:hover {
  background-color: transparent;
  border-left: 3px solid #e93c05;
  padding-left: 18px;
  border-radius: 0 50% 50% 0;
}

.header-area .right .nav-flag-dropdown .dropdown-menu a:last-child {
  border-bottom: 0;
}

.header-area .right .nav-flag-dropdown .dropdown-toggle::after {
  display: none;
}

.header-area .right .header-search {
  display: inline-block;
}

.header-area .right .header-search #search-btn {
  padding: 0;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header-area .right .header-search #search-btn:hover {
  color: #fff;
  border: 1px solid #ff6015;
  background-color: #ff6015;
}

.header-area .right .header-search #close-btn {
  padding: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  font-size: 25px;
  cursor: pointer;
}

.header-area .right .header-search #close-btn:hover {
  color: #ff6015;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header-area .right .header-search #search-overlay {
  display: none;
  z-index: 999999;
}

.header-area .right .header-search .block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #000000eb;
}

.header-area .right .header-search .block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.header-area .right .header-search .centered {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 10px 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.header-area .right .header-search .centered #search-box {
  position: relative;
}

.header-area .right .header-search .centered #search-box form .form-control {
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding-left: 20px;
}

.header-area .right .header-search .centered #search-box form .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-area .right .header-search .centered #search-box form .btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #ff6015;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  height: 100%;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
}

.header-area .right .header-search .centered #search-box form .btn:hover {
  color: #fff;
  background-color: #302c51;
}

/*-- Navbar --*/
.main-nav {
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px #ddd3;
          box-shadow: 0px 10px 20px 0px #ddd3;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-nav.menu-shrink {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav nav {
  padding: 0;
}

.main-nav nav .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.main-nav nav .navbar-nav .nav-item:hover a {
  color: #ff6015;
}

.main-nav nav .navbar-nav .nav-item a {
  text-transform: capitalize;
  color: #302c51;
  font-weight: 600;
  margin-left: 12px;
  margin-right: 12px;
}

.main-nav nav .navbar-nav .nav-item a:hover, .main-nav nav .navbar-nav .nav-item a:focus, .main-nav nav .navbar-nav .nav-item a.active {
  color: #ff6015;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  padding: 0;
  background: #302c51;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 0;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #ddd3;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:last-child {
  border: 0;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  top: 0 !important;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #fff;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  position: relative;
  font-weight: 600;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  top: 18px;
  left: 17px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-animation: rotate360 1s infinite linear;
          animation: rotate360 1s infinite linear;
  border: 2px solid #ff6015;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  padding-left: 30px;
  color: #fff;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover:before, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus:before, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active:before {
  opacity: 1;
  visibility: visible;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: unset;
  right: -100%;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #fff;
}

.main-nav .dropdown-toggle::after {
  display: none;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.side-nav a {
  display: inline-block;
  color: #fff;
  background-color: #ff6015;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 600;
}

.side-nav a i {
  display: inline-block;
  margin-left: 3px;
  font-size: 14px;
  -webkit-animation: heart-beat 2s infinite linear;
          animation: heart-beat 2s infinite linear;
}

.side-nav a:hover {
  background-color: #302c51;
}

@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*-- Banner --*/
.banner-area {
  height: 800px;
  background-image: url("../img/banner/banner-bg1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.banner-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #302c51;
  opacity: .80;
}

.banner-area .banner-img {
  position: relative;
  text-align: center;
}

.banner-area .banner-img img:nth-child(1) {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.banner-area .banner-img img:nth-child(2) {
  position: absolute;
  bottom: -145px;
  right: 30px;
  max-width: 200px;
}

@-webkit-keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.banner-content {
  margin-top: 80px;
  max-width: 540px;
  margin-left: auto;
}

.banner-content span {
  display: inline-block;
  font-weight: 600;
  color: #302c51;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 15px;
  margin-bottom: 25px;
}

.banner-content h1 {
  color: #fff;
  font-size: 55px;
  margin-bottom: 20px;
}

.banner-content p {
  margin-bottom: 35px;
  color: #fff;
  font-size: 18px;
}

.banner-content .banner-btn-area .banner-btn {
  margin-right: 15px;
  color: #302c51;
  background-color: #fff;
}

.banner-content .banner-btn-area .banner-btn:hover {
  color: #fff;
  background-color: #302c51;
}

.video-wrap {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.video-wrap .js-modal-btn {
  z-index: 10;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  font-size: 40px;
  text-align: center;
  color: #ff6015;
}

.video-wrap .js-modal-btn i {
  line-height: 100px;
}

.video-wrap .js-modal-btn:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-wrap .js-modal-btn:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.video-wrap .js-modal-btn:hover {
  color: #fff;
}

.video-wrap .js-modal-btn:hover:before {
  background-color: #ff6015;
}

.video-wrap .js-modal-btn:hover:after {
  background-color: #ff6015;
}

.video-wrap span {
  display: inline-block;
  color: #ff6015;
  font-weight: 600;
  position: relative;
  top: -20px;
  margin-left: 25px;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/*-- Dream --*/
.dream-area {
  background-color: #f4f8f7;
}

.dream-item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  border-radius: 30px 30px 0 30px;
  padding: 30px 25px 40px;
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #fff;
}

.dream-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  border-radius: 0;
}

.dream-item h3 {
  margin-bottom: 14px;
  font-size: 22px;
  line-height: 1.4;
}

.dream-item h3 a {
  color: #302c51;
}

.dream-item h3 a:hover {
  color: #ff6015;
}

.dream-item p {
  margin-bottom: 20px;
}

.dream-item h4 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;
}

.dream-item h4 span {
  color: #ff6015;
  margin-right: 3px;
}

.dream-item .sub-span {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #302c51;
  background-color: #e5e6ff;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  bottom: 35px;
  font-weight: 600;
}

/*-- About --*/
.about-area .about-img {
  margin-bottom: 30px;
}

.about-area .about-img img {
  width: 100%;
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.about-area .about-content {
  margin-bottom: 30px;
}

.about-area .about-content .section-title {
  text-align: left;
  margin-bottom: 16px;
}

.about-area .about-content .section-title h2 {
  margin-bottom: 0;
}

.about-area .about-content .about-span {
  display: block;
  color: #302c51;
  margin-bottom: 10px;
  font-weight: 600;
}

.about-area .about-content p {
  margin-bottom: 10px;
}

.about-area .about-content .about-btn-area {
  margin-top: 30px;
}

.about-area .about-content .about-btn-area .about-btn {
  background-color: #302c51;
  margin-right: 15px;
}

.about-area .about-content .about-btn-area .about-btn:hover {
  background-color: #ff6015;
}

/*-- Feature --*/
.feature-area {
  background-image: url("../img/feature-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.feature-item {
  margin-bottom: 30px;
  background-color: #23b187;
  border-radius: 30px 30px 0 30px;
  padding: 30px 30px 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.feature-item.two {
  background-color: #ff6015;
}

.feature-item.three {
  background-color: #302c51;
}

.feature-item:hover {
  border-radius: 0;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.feature-item i {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 14px;
}

.feature-item h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.feature-item h3 a {
  color: #fff;
}

.feature-item h3 a:hover {
  letter-spacing: 1px;
}

.feature-item p {
  margin-bottom: 18px;
  color: #fff;
}

.feature-item .feature-btn {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 8px 25px;
  border-radius: 30px;
}

.feature-item .feature-btn:hover {
  color: #302c51;
  background-color: #fff;
}

/*-- Donation --*/
.donation-item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  border-radius: 0;
  background-color: #302c51;
}

.donation-item:hover .img img {
  border-radius: 0;
}

.donation-item:hover .img .common-btn {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.donation-item:hover .top .tags {
  color: #fff;
}

.donation-item:hover .top h3 a {
  color: #fff;
}

.donation-item:hover .top h3 a:hover {
  color: #ff6015;
}

.donation-item:hover .top p {
  color: #fff;
}

.donation-item:hover .bottom .skill:before {
  background: #fff;
}

.donation-item:hover .bottom ul li {
  color: #fff;
}

.donation-item:hover .bottom h4 {
  color: #fff;
}

.donation-item:hover .bottom .skill-bar span {
  color: #fff;
}

.donation-item .img {
  position: relative;
}

.donation-item .img img {
  width: 100%;
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item .img .common-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  visibility: hidden;
}

.donation-item .inner {
  padding: 26px 30px 30px;
}

.donation-item .top .tags {
  display: inline-block;
  color: #ff6015;
  font-weight: 600;
  margin-bottom: 12px;
}

.donation-item .top .tags:hover {
  color: #302c51;
}

.donation-item .top h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.donation-item .top h3 a {
  color: #302c51;
}

.donation-item .top h3 a:hover {
  color: #ff6015;
}

.donation-item .top p {
  margin-bottom: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item .bottom {
  position: relative;
  padding-top: 25px;
  overflow: hidden;
}

.donation-item .bottom .skill {
  margin-bottom: 20px;
  position: relative;
}

.donation-item .bottom .skill:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  display: block;
  background: #ebeded;
  border-radius: 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item .bottom .skill-bar {
  width: 100%;
  height: 8px;
  background: #ff6015;
  display: block;
  position: relative;
  border-radius: 30px;
}

.donation-item .bottom .skill-bar span {
  position: absolute;
  top: -26px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: #302c51;
  margin-bottom: 0;
  display: inline-block;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item .bottom .skill1 {
  width: 85%;
}

.donation-item .bottom .skill1 .skill-count1 {
  right: 7px;
}

.donation-item .bottom .skill2 {
  width: 95%;
}

.donation-item .bottom .skill2 .skill-count2 {
  right: 7px;
}

.donation-item .bottom .skill3 {
  width: 90%;
}

.donation-item .bottom .skill3 .skill-count3 {
  right: 7px;
}

.donation-item .bottom .skill4 {
  width: 80%;
}

.donation-item .bottom .skill4 .skill-count4 {
  right: 7px;
}

.donation-item .bottom .skill5 {
  width: 75%;
}

.donation-item .bottom .skill5 .skill-count5 {
  right: 7px;
}

.donation-item .bottom .skill6 {
  width: 70%;
}

.donation-item .bottom .skill6 .skill-count6 {
  right: 7px;
}

.donation-item .bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
}

.donation-item .bottom ul li {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item .bottom ul li:last-child {
  text-align: right;
}

.donation-item .bottom h4 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.donation-item .bottom h4 span {
  color: #ff6015;
}

/*-- Work --*/
.work-area {
  background-color: #f9f9f9;
}

.work-area .work-content {
  margin-bottom: 30px;
}

.work-area .work-content .section-title {
  text-align: left;
}

.work-area .work-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 30px;
}

.work-area .work-content ul li:last-child {
  margin-bottom: 0;
}

.work-area .work-content ul li h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.work-area .work-content ul li h3 span {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #302c51;
  background-color: #e5e6ff;
  border-radius: 50%;
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
}

.work-area .work-content ul li p {
  margin-bottom: 0;
}

.work-area .work-img {
  text-align: right;
  margin-bottom: 30px;
}

.work-area .work-img img {
  border-radius: 5px;
}

.work-area .work-img img:nth-child(1) {
  max-width: 405px;
}

.work-area .work-img img:nth-child(2) {
  max-width: 330px;
  margin-top: -150px;
  margin-right: 225px;
}

/*-- Benefit --*/
.benefit-item {
  margin-bottom: 30px;
  text-align: center;
  border-radius: 30px;
  padding: 30px 15px 30px;
  border: 1px dashed #82ca9c;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #fff;
}

.benefit-item.two {
  border: 1px dashed #f49ac1;
}

.benefit-item.three {
  border: 1px dashed #8781bd;
}

.benefit-item.four {
  border: 1px dashed #f9ad81;
}

.benefit-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.benefit-item:hover i {
  color: #fff;
  background-color: #302c51;
}

.benefit-item i {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  color: #302c51;
  background-color: #e5e6ff;
  font-size: 35px;
  margin-bottom: 18px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.benefit-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ff6015;
}

.benefit-item p {
  margin-bottom: 0;
}

/*-- Event --*/
.event-area {
  background-image: url("../img/event/event-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.event-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #068761;
  opacity: .90;
}

.event-area .section-title .sub-title {
  color: #fff;
}

.event-area .section-title h2 {
  color: #fff;
  margin-bottom: 0;
}

.event-item {
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.event-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.event-item:hover img {
  border-radius: 0;
}

.event-item:hover:before {
  border-radius: 0;
}

.event-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 44, 81, 0.937755)), color-stop(74%, rgba(48, 44, 81, 0)));
  background: linear-gradient(180deg, rgba(48, 44, 81, 0.937755) 0%, rgba(48, 44, 81, 0) 74%);
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.event-item img {
  display: inline-block;
  border-radius: 30px 30px 0 30px;
  width: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.event-item .inner {
  position: absolute;
  top: 30px;
  left: 30px;
  padding-left: 90px;
}

.event-item .inner h4 {
  max-width: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ff6015;
  margin-bottom: 0;
  font-size: 30px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 75px;
}

.event-item .inner h4 span {
  color: #302c51;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  top: -7px;
}

.event-item .inner h3 {
  margin-bottom: 10px;
  font-size: 22px;
  margin-top: 8px;
}

.event-item .inner h3 a {
  color: #fff;
}

.event-item .inner h3 a:hover {
  color: #ff6015;
}

.event-item .inner ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  font-size: 15px;
}

.event-item .inner ul li:last-child {
  margin-right: 0;
}

.event-item .inner ul li i {
  display: inline-block;
  color: #ff6015;
  margin-right: 3px;
  font-size: 16px;
}

.event-item-right {
  padding-left: 90px;
  position: relative;
  border-bottom: 1px solid #2e9a7a;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.event-item-right:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.event-item-right h4 {
  max-width: 65px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ff6015;
  margin-bottom: 0;
  font-size: 30px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 60px;
}

.event-item-right h4 span {
  color: #302c51;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  top: -12px;
}

.event-item-right h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.event-item-right h3 a {
  color: #fff;
}

.event-item-right h3 a:hover {
  color: #ff6015;
}

.event-item-right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  font-size: 15px;
}

.event-item-right ul li:last-child {
  margin-right: 0;
}

.event-item-right ul li i {
  display: inline-block;
  color: #ff6015;
  margin-right: 3px;
  font-size: 16px;
}

/*-- Gallery --*/
.gallery-item {
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.gallery-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.gallery-item:hover img {
  border-radius: 0;
}

.gallery-item:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .80;
  visibility: visible;
  border-radius: 0;
}

.gallery-item:hover i {
  opacity: 1;
  visibility: visible;
}

.gallery-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #302c51;
  opacity: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  visibility: hidden;
  border-radius: 30px 30px 0 30px;
}

.gallery-item img {
  width: 100%;
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.gallery-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  color: #fff;
  font-size: 40px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

/*-- Blog --*/
.blog-area {
  background-color: #f9f9f9;
}

.blog-item {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.blog-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  border-radius: 0;
}

.blog-item:hover .top a img {
  border-radius: 0;
}

.blog-item .top a {
  display: block;
}

.blog-item .top a img {
  width: 100%;
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.blog-item .bottom {
  padding: 25px 25px 28px;
}

.blog-item .bottom ul {
  margin-bottom: 16px;
}

.blog-item .bottom ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 15px;
}

.blog-item .bottom ul li:last-child {
  margin-right: 0;
}

.blog-item .bottom ul li i {
  color: #ff6015;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.blog-item .bottom ul li span {
  display: inline-block;
}

.blog-item .bottom ul li a {
  display: inline-block;
  color: #757575;
}

.blog-item .bottom ul li a:hover {
  color: #ff6015;
}

.blog-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.blog-item .bottom h3 a {
  color: #302c51;
}

.blog-item .bottom h3 a:hover {
  color: #ff6015;
}

.blog-item .bottom p {
  margin-bottom: 12px;
}

.blog-item .bottom .blog-btn {
  display: inline-block;
  font-weight: 600;
  color: #ff6015;
}

.blog-item .bottom .blog-btn:hover {
  color: #302c51;
}

/*-- Footer --*/
.footer-area {
  background-color: #302c51;
}

.footer-area .copyright-area {
  margin-top: 70px;
  text-align: center;
  border-top: 1px solid #4f4b6b;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-area .copyright-area p {
  margin-bottom: 0;
  color: #fff;
}

.footer-area .copyright-area p a {
  display: inline-block;
  color: #ff6015;
  font-weight: 600;
}

.footer-area .copyright-area p a:hover {
  color: #fff;
}

.footer-item {
  margin-bottom: 30px;
}

.footer-item h3 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 22px;
}

.footer-item .footer-logo .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item .footer-logo p {
  margin-bottom: 22px;
  color: #fff;
}

.footer-item .footer-logo ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.footer-item .footer-logo ul li:last-child {
  margin-right: 0;
}

.footer-item .footer-logo ul li a {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 14px;
  display: inline-block;
}

.footer-item .footer-logo ul li a i {
  line-height: 30px;
}

.footer-item .footer-logo ul li a:hover {
  color: #ff6015;
  background-color: #fff;
}

.footer-item .footer-causes .cause-inner {
  border-bottom: 1px solid #4f4b6b;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer-item .footer-causes .cause-inner:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.footer-item .footer-causes .cause-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-item .footer-causes .cause-inner ul li {
  list-style-type: none;
  display: inline-block;
}

.footer-item .footer-causes .cause-inner ul li:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.footer-item .footer-causes .cause-inner ul li:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
  margin-left: 15px;
}

.footer-item .footer-causes .cause-inner ul li img {
  border-radius: 5px;
}

.footer-item .footer-causes .cause-inner ul li h3 {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}

.footer-item .footer-causes .cause-inner ul li h3 a {
  color: #fff;
}

.footer-item .footer-causes .cause-inner ul li h3 a:hover {
  color: #ff6015;
}

.footer-item .footer-links ul li {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #4f4b6b;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-item .footer-links ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.footer-item .footer-links ul li a {
  display: block;
  color: #fff;
}

.footer-item .footer-links ul li a:hover {
  color: #ff6015;
}

.footer-item .footer-links ul li a i {
  display: inline-block;
  font-size: 17px;
}

.footer-item .footer-contact .contact-inner {
  border-bottom: 1px solid #4f4b6b;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.footer-item .footer-contact .contact-inner:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer-item .footer-contact .contact-inner ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
}

.footer-item .footer-contact .contact-inner ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-contact .contact-inner ul li i {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: 0;
}

.footer-item .footer-contact .contact-inner ul li a {
  display: inline-block;
  color: #fff;
}

.footer-item .footer-contact .contact-inner ul li a:hover {
  color: #ff6015;
}

/*----- Home Demo Two CSS -----*/
/*-- Banner --*/
.banner-area-two .banner-img-one {
  background-image: url("../img/banner/banner-bg2.jpg");
}

.banner-area-two .banner-img-two {
  background-image: url("../img/banner/banner-bg2.jpg");
}

.banner-area-two .banner-img-three {
  background-image: url("../img/banner/banner-bg3.jpg");
}

.banner-area-two .banner-slider-item {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-area-two .banner-slider-item .banner-shape {
  position: absolute;
  left: -225px;
  right: 0;
  top: 170px;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.banner-area-two .banner-content {
  background-image: url("../img/banner/banner-main1.jpg");
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
  margin-top: 50px;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 100px 80px 100px;
  position: relative;
  z-index: 1;
}

.banner-area-two .banner-content:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff6015;
  opacity: .80;
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
  z-index: -1;
}

.banner-area-two .banner-content .banner-btn-area .banner-btn {
  color: #fff;
  background-color: #302c51;
}

.banner-area-two .banner-content .banner-btn-area .banner-btn:hover {
  color: #302c51;
  background-color: #fff;
}

.banner-area-two .owl-theme .owl-nav {
  margin-top: 0;
}

.banner-area-two .owl-prev {
  position: absolute;
  top: 48%;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px !important;
  color: #fff !important;
  background-color: #ff6015 !important;
  font-size: 30px !important;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.banner-area-two .owl-prev i {
  line-height: 50px;
}

.banner-area-two .owl-prev:hover {
  color: #fff !important;
  background-color: #302c51 !important;
}

.banner-area-two .owl-next {
  position: absolute;
  top: 48%;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px !important;
  color: #fff !important;
  background-color: #ff6015 !important;
  font-size: 30px !important;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.banner-area-two .owl-next i {
  line-height: 50px;
}

.banner-area-two .owl-next:hover {
  color: #fff !important;
  background-color: #302c51 !important;
}

/*-- Feature Two --*/
.feature-area.two {
  background-image: unset;
  position: relative;
  margin-top: -50px;
  z-index: 1;
}

/*-- About Two --*/
.about-area.two .about-content p {
  margin-bottom: 20px;
}

.about-area.two .about-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
}

.about-area.two .about-content ul li:hover span {
  color: #fff;
  background-color: #302c51;
}

.about-area.two .about-content ul li:last-child {
  margin-bottom: 0;
}

.about-area.two .about-content ul li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #302c51;
  font-weight: 600;
  background-color: #e5e6ff;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.about-area.two .about-content .about-btn-area {
  margin-top: 35px;
}

.about-area.two .about-img .video-wrap .js-modal-btn {
  color: #fff;
}

.about-area.two .about-img .video-wrap .js-modal-btn:before {
  background-color: #ff6015;
}

.about-area.two .about-img .video-wrap .js-modal-btn:after {
  background-color: #ff6015;
}

.about-area.two .about-img .video-wrap .js-modal-btn:hover {
  color: #ff6015;
}

.about-area.two .about-img .video-wrap .js-modal-btn:hover:before {
  background-color: #fff;
}

.about-area.two .about-img .video-wrap .js-modal-btn:hover:after {
  background-color: #fff;
}

/*-- Donation Two --*/
.donations-area.two {
  background-color: #f4f8f7;
}

.donations-area.two .donation-item {
  background-color: #fff;
}

.donations-area.two .donation-item:hover {
  background-color: #302c51;
}

/*-- Benefit Two --*/
.benefit-area.two .section-title {
  text-align: left;
}

.benefit-area.two .benefit-img {
  margin-bottom: 30px;
  position: relative;
}

.benefit-area.two .benefit-img img:nth-child(1) {
  width: 100%;
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
  z-index: 1;
  position: relative;
}

.benefit-area.two .benefit-img img:nth-child(2) {
  position: absolute;
  left: 0;
  bottom: 0;
}

.benefit-area.two .benefit-item {
  border: 0;
  padding: 0;
  text-align: left;
}

/*-- Team --*/
.team-item {
  text-align: center;
  margin-bottom: 30px;
  border-radius: 30px 30px 0 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.team-item:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  border: 0;
}

.team-item:hover .top img {
  border-radius: 0;
}

.team-item:hover .top ul {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.team-item .top {
  position: relative;
}

.team-item .top img {
  width: 100%;
  border-radius: 30px 30px 0 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.team-item .top ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.team-item .top ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.team-item .top ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background-color: #302c51;
  font-size: 14px;
  border-radius: 50%;
}

.team-item .top ul li a i {
  line-height: 30px;
}

.team-item .top ul li a:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.team-item .bottom {
  padding: 28px 25px 30px;
}

.team-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.team-item .bottom span {
  display: block;
  color: #ff6015;
}

/*----- Home Demo Three CSS -----*/
/*-- Banner --*/
.banner-area-two.three .banner-img-four {
  background-image: url("../img/banner/banner-bg5.jpg");
}

.banner-area-two.three .banner-img-five {
  background-image: url("../img/banner/banner-bg1.jpg");
}

.banner-area-two.three .banner-img-six {
  background-image: url("../img/banner/banner-bg6.jpg");
}

.banner-area-two.three .banner-slider-item {
  height: 850px;
}

.banner-area-two.three .banner-slider-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #302c51;
  opacity: .60;
}

.banner-area-two.three .banner-content {
  background-image: unset;
  -webkit-animation: unset;
          animation: unset;
  margin-top: 50px;
  max-width: 540px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  padding: 0;
}

.banner-area-two.three .banner-content:before {
  display: none;
}

/*-- Benefit Two --*/
.benefit-area.three {
  background-color: #f9f9f9;
}

/*-- Donation Three --*/
.donations-area.three .donation-item {
  padding: 30px 30px 30px;
}

.donations-area.three .donation-item .inner {
  padding: 0;
}

.donations-area.three .donation-item .top p {
  margin-bottom: 25px;
}

.donations-area.three .donation-item .img .common-btn {
  opacity: 1;
  visibility: visible;
  bottom: -23px;
  z-index: 1;
}

.donations-area.three .donation-item .bottom {
  padding-top: 55px;
}

/*-- Counter --*/
.counter-item {
  text-align: center;
  margin-bottom: 30px;
}

.counter-item i {
  display: inline-block;
  color: #ff6015;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 10px;
}

.counter-item h3 {
  margin-bottom: 6px;
  font-size: 60px;
}

.counter-item h3 .target {
  font-size: 35px;
  margin-left: -10px;
}

.counter-item p {
  margin-bottom: 0;
  font-weight: 600;
}

/*-- Testimonial --*/
.testimonial-area {
  background-color: #f9f9f9;
}

.testimonial-area .section-title h2 {
  margin-bottom: 0;
}

.testimonial-area .testimonial-img {
  margin-bottom: 30px;
}

.testimonial-area .testimonial-img img {
  width: 100%;
  border-radius: 30px 30px 0 30px;
  margin-bottom: 15px;
}

.testimonial-area .testimonial-img h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.testimonial-area .testimonial-img span {
  display: block;
}

.testimonial-area .testimonial-content {
  padding: 50px 50px 50px 30px;
  border-radius: 30px 30px 30px 0;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  position: relative;
  background-color: #fff;
  margin-top: 80px;
  margin-bottom: 30px;
}

.testimonial-area .testimonial-content:before {
  position: absolute;
  content: '';
  width: 80px;
  height: 100%;
  top: 0;
  left: -50px;
  background-color: #fff;
  border-radius: 30px 0 0 0;
}

.testimonial-area .testimonial-content ul {
  margin-bottom: 15px;
}

.testimonial-area .testimonial-content ul li {
  list-style-type: none;
  display: inline-block;
}

.testimonial-area .testimonial-content ul li i {
  display: inline-block;
  font-size: 18px;
}

.testimonial-area .testimonial-content ul li i.checked {
  color: #ff6015;
}

.testimonial-area .testimonial-content p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
}

.testimonial-area .testimonial-content .quote {
  display: inline-block;
  color: #eeeefa;
  font-size: 55px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.testimonial-area .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}

.testimonial-area .owl-theme .owl-dots .owl-dot span {
  width: 35px;
  height: 8px;
  background: #bab9c4;
}

.testimonial-area .owl-theme .owl-dots .owl-dot.active span {
  background: #ff6015;
}

/*-- Blog --*/
.blog-area.three {
  background-color: #fff;
}

.blog-area.three .blog-item {
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
}

/*----- About CSS -----*/
.title-bg-one {
  background-image: url("../img/banner/title-bg1.jpg");
}

.title-bg-two {
  background-image: url("../img/banner/title-bg2.jpg");
}

.title-bg-three {
  background-image: url("../img/banner/title-bg3.jpg");
}

.title-bg-four {
  background-image: url("../img/banner/title-bg4.jpg");
}

.title-bg-five {
  background-image: url("../img/banner/title-bg5.jpg");
}

.title-bg-six {
  background-image: url("../img/banner/title-bg6.jpg");
}

.title-bg-seven {
  background-image: url("../img/banner/title-bg7.jpg");
}

.title-bg-eight {
  background-image: url("../img/banner/title-bg8.jpg");
}

.title-bg-nine {
  background-image: url("../img/banner/title-bg9.jpg");
}

.title-bg-ten {
  background-image: url("../img/banner/title-bg10.jpg");
}

.title-bg-eleven {
  background-image: url("../img/banner/title-bg11.jpg");
}

.title-bg-twelve {
  background-image: url("../img/banner/title-bg12.jpg");
}

.title-bg-thirteen {
  background-image: url("../img/banner/title-bg13.jpg");
}

.title-bg-fourteen {
  background-image: url("../img/banner/title-bg14.jpg");
}

.page-title-area {
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.page-title-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #302c51;
  opacity: .75;
}

.page-title-area .title-item {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 95px;
}

.page-title-area .title-item h2 {
  font-size: 65px;
  color: #fff;
  margin-bottom: 5px;
}

.page-title-area .title-item ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 14px;
  margin-right: 14px;
  position: relative;
}

.page-title-area .title-item ul li:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  top: 10px;
  left: 60px;
  background-color: #fff;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-animation: rotate360 1s infinite linear;
          animation: rotate360 1s infinite linear;
  border: 2px solid #ff6015;
}

.page-title-area .title-item ul li:last-child:before {
  display: none;
}

.page-title-area .title-item ul li a {
  display: inline-block;
  color: #fff;
}

.page-title-area .title-item ul li a:hover {
  color: #ff6015;
}

.page-title-area .title-item ul li span {
  display: inline-block;
  color: #fff;
}

.team-area.four {
  background-color: #f9f9f9;
}

.pagination-area {
  text-align: center;
}

.pagination-area ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination-area ul li a {
  display: block;
  color: #ff6015;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  padding: 5px 15px;
  border-radius: 8px 8px 0 8px;
}

.pagination-area ul li a:hover, .pagination-area ul li a.active {
  color: #fff;
  background-color: #ff6015;
}

/*----- Donation Details CSS -----*/
.donation-details-area .details-item .details-img {
  margin-bottom: 25px;
}

.donation-details-area .details-item .details-img img {
  width: 100%;
  margin-bottom: 20px;
}

.donation-details-area .details-item .details-img h2 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.donation-details-area .details-item .details-img p {
  margin-bottom: 10px;
}

.donation-details-area .details-item .details-img p:last-child {
  margin-bottom: 0;
}

.donation-details-area .details-item .details-img blockquote {
  background-color: #f9f9f9;
  padding: 30px 30px 30px 60px;
  font-size: 18px;
  font-weight: 600;
  color: #302c51;
  position: relative;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.donation-details-area .details-item .details-img blockquote i {
  position: absolute;
  top: 45px;
  left: -35px;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  color: #ff6015;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  font-size: 30px;
  border-radius: 50%;
}

.donation-details-area .details-item .details-share {
  margin-bottom: 30px;
}

.donation-details-area .details-item .details-share .left ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
}

.donation-details-area .details-item .details-share .left ul li:last-child {
  margin-right: 0;
}

.donation-details-area .details-item .details-share .left ul li span {
  display: inline-block;
  font-weight: 600;
  margin-right: 5px;
}

.donation-details-area .details-item .details-share .left ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ff6015;
  border: 1px solid #ff6015;
  border-radius: 50%;
  font-size: 15px;
}

.donation-details-area .details-item .details-share .left ul li a i {
  line-height: 30px;
}

.donation-details-area .details-item .details-share .left ul li a:hover {
  color: #fff;
  background-color: #ff6015;
}

.donation-details-area .details-item .details-share .right {
  text-align: right;
}

.donation-details-area .details-item .details-share .right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.donation-details-area .details-item .details-share .right ul li:before {
  position: absolute;
  content: ',';
  color: #ff6015;
  top: -5px;
  right: -7px;
  font-size: 20px;
}

.donation-details-area .details-item .details-share .right ul li:first-child:before {
  display: none;
}

.donation-details-area .details-item .details-share .right ul li:last-child {
  margin-right: 0;
}

.donation-details-area .details-item .details-share .right ul li:last-child:before {
  display: none;
}

.donation-details-area .details-item .details-share .right ul li span {
  display: inline-block;
  font-weight: 600;
}

.donation-details-area .details-item .details-share .right ul li a {
  display: inline-block;
  color: #ff6015;
}

.donation-details-area .details-item .details-share .right ul li a:hover {
  color: #302c51;
}

.donation-details-area .details-item .details-payment {
  background-color: #fafafa;
  padding: 50px 50px 50px;
}

.donation-details-area .details-item .details-payment h3 {
  font-size: 25px;
  margin-bottom: 8px;
  margin-top: -5px;
}

.donation-details-area .details-item .details-payment .form-radio-area {
  margin-bottom: 30px;
}

.donation-details-area .details-item .details-payment .form-radio-area .form-check-label {
  color: #302c51;
}

.donation-details-area .details-item .details-payment .form-input-area .form-group {
  position: relative;
  margin-bottom: 15px;
}

.donation-details-area .details-item .details-payment .form-input-area .form-group label {
  margin-bottom: 0;
  position: absolute;
  top: 10px;
  left: 15px;
  color: #ff6015;
  font-size: 20px;
}

.donation-details-area .details-item .details-payment .form-input-area .form-group .form-control {
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  padding-left: 45px;
}

.donation-details-area .details-item .details-payment .form-input-area .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.donation-details-area .details-item .details-payment .form-input-area .common-btn {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  width: 100%;
  display: block;
}

.widget-area .widget-item {
  margin-bottom: 30px;
}

.widget-area .widget-item:last-child {
  margin-bottom: 0;
}

.widget-area .widget-item h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.widget-area .search {
  position: relative;
}

.widget-area .search .form-control {
  height: 50px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 15px;
  border: 0;
  background-color: #f9f9f9;
}

.widget-area .search .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.widget-area .search .btn {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #ff6015;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.widget-area .search .btn:hover {
  color: #302c51;
}

.widget-area .post .post-inner {
  margin-bottom: 15px;
}

.widget-area .post .post-inner:last-child {
  margin-bottom: 0;
}

.widget-area .post .post-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-area .post .post-inner ul li {
  list-style-type: none;
  display: inline-block;
}

.widget-area .post .post-inner ul li:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
  max-width: 28%;
}

.widget-area .post .post-inner ul li:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
  max-width: 67%;
  margin-left: 15px;
}

.widget-area .post .post-inner ul li h4 {
  font-size: 16px;
  margin-bottom: 3px;
}

.widget-area .post .post-inner ul li h4 a {
  color: #302c51;
}

.widget-area .post .post-inner ul li h4 a:hover {
  color: #ff6015;
}

.widget-area .post .post-inner ul li p {
  margin-bottom: 0;
  font-size: 14px;
}

.widget-area .post .post-inner ul li p a {
  display: inline-block;
  color: #757575;
}

.widget-area .post .post-inner ul li p a:hover {
  color: #ff6015;
}

.widget-area .common-right-content ul li {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #f5f2f2;
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.widget-area .common-right-content ul li:hover {
  margin-left: 5px;
}

.widget-area .common-right-content ul li:before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff6015;
}

.widget-area .common-right-content ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.widget-area .common-right-content ul li a {
  display: block;
  color: #302c51;
}

.widget-area .common-right-content ul li a:hover {
  color: #ff6015;
}

.widget-area .instagram .instagram-item {
  position: relative;
}

.widget-area .instagram .instagram-item img {
  width: 100%;
}

.widget-area .instagram .instagram-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #302c51;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.widget-area .instagram .instagram-item a {
  display: inline-block;
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  visibility: hidden;
}

.widget-area .instagram .instagram-item:hover:before {
  opacity: .70;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.widget-area .instagram .instagram-item:hover a {
  visibility: visible;
  opacity: 1;
}

.event-area.four {
  background-image: unset;
}

.event-area.four:before {
  display: none;
}

/*----- Event Details CSS -----*/
.event-details-area .details-item .details-img img {
  width: 100%;
  margin-bottom: 20px;
}

.event-details-area .details-item .details-img h2 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.event-details-area .details-item .details-img p {
  margin-bottom: 10px;
}

.event-details-area .details-item .details-img p:last-child {
  margin-bottom: 0;
}

.event-details-area .details-item .details-img ul {
  margin-top: 25px;
  margin-bottom: 20px;
}

.event-details-area .details-item .details-img ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  font-weight: 600;
}

.event-details-area .details-item .details-img ul li:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 8px;
  left: 0;
  background-color: #ff6015;
}

.event-details-area .details-item .details-img ul li:last-child {
  margin-bottom: 0;
}

.widget-area .information ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
}

.widget-area .information ul li:last-child {
  margin-bottom: 0;
}

.widget-area .information ul li span {
  display: inline-block;
  font-weight: 600;
  margin-right: 3px;
  color: #302c51;
}

.widget-area .information ul li a {
  display: inline-block;
  color: #757575;
}

.widget-area .information ul li a:hover {
  color: #ff6015;
}

/*----- Blog Details CSS -----*/
.blog-details-area .details-item .details-img img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-details-area .details-item .details-img h2 {
  font-size: 30px;
  margin-bottom: 5px;
  line-height: 1.4;
}

.blog-details-area .details-item .details-img ul {
  margin-bottom: 10px;
}

.blog-details-area .details-item .details-img ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}

.blog-details-area .details-item .details-img ul li:last-child {
  margin-right: 0;
}

.blog-details-area .details-item .details-img ul li i {
  display: inline-block;
  font-size: 16px;
  color: #ff6015;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.blog-details-area .details-item .details-img ul li a {
  display: inline-block;
  color: #757575;
}

.blog-details-area .details-item .details-img ul li a:hover {
  color: #ff6015;
}

.blog-details-area .details-item .details-img p {
  margin-bottom: 10px;
}

.blog-details-area .details-item .details-img .img {
  padding-top: 20px;
}

.blog-details-area .details-item .details-img .img img {
  width: 100%;
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-img .img p {
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-img blockquote {
  background-color: #f9f9f9;
  padding: 30px 30px 30px 60px;
  font-size: 18px;
  font-weight: 600;
  color: #302c51;
  position: relative;
  margin-left: 35px;
  margin-bottom: 25px;
}

.blog-details-area .details-item .details-img blockquote i {
  position: absolute;
  top: 45px;
  left: -35px;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  color: #ff6015;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  font-size: 30px;
  border-radius: 50%;
}

.blog-details-area .details-item .details-img .img-area {
  padding-top: 20px;
}

.blog-details-area .details-item .details-img .img-area img {
  margin-bottom: 30px;
  width: 100%;
}

.blog-details-area .details-item .details-share {
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-share .left ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
}

.blog-details-area .details-item .details-share .left ul li:last-child {
  margin-right: 0;
}

.blog-details-area .details-item .details-share .left ul li span {
  display: inline-block;
  font-weight: 600;
  margin-right: 5px;
}

.blog-details-area .details-item .details-share .left ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ff6015;
  border: 1px solid #ff6015;
  border-radius: 50%;
  font-size: 15px;
}

.blog-details-area .details-item .details-share .left ul li a i {
  line-height: 30px;
}

.blog-details-area .details-item .details-share .left ul li a:hover {
  color: #fff;
  background-color: #ff6015;
}

.blog-details-area .details-item .details-share .right {
  text-align: right;
}

.blog-details-area .details-item .details-share .right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.blog-details-area .details-item .details-share .right ul li:before {
  position: absolute;
  content: ',';
  color: #ff6015;
  top: -5px;
  right: -7px;
  font-size: 20px;
}

.blog-details-area .details-item .details-share .right ul li:first-child:before {
  display: none;
}

.blog-details-area .details-item .details-share .right ul li:last-child {
  margin-right: 0;
}

.blog-details-area .details-item .details-share .right ul li:last-child:before {
  display: none;
}

.blog-details-area .details-item .details-share .right ul li span {
  display: inline-block;
  font-weight: 600;
}

.blog-details-area .details-item .details-share .right ul li a {
  display: inline-block;
  color: #ff6015;
}

.blog-details-area .details-item .details-share .right ul li a:hover {
  color: #302c51;
}

.blog-details-area .details-item .details-comment {
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-comment h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-comment ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding-left: 130px;
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-comment ul li:last-child {
  margin-bottom: 0;
  margin-left: 70px;
}

.blog-details-area .details-item .details-comment ul li img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.blog-details-area .details-item .details-comment ul li h4 {
  font-size: 17px;
  margin-bottom: 5px;
}

.blog-details-area .details-item .details-comment ul li span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.blog-details-area .details-item .details-comment ul li p {
  margin-bottom: 0;
}

.blog-details-area .details-item .details-comment ul li a {
  display: inline-block;
  color: #ff6015;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
}

.blog-details-area .details-item .details-comment ul li a:hover {
  color: #302c51;
}

.blog-details-area .details-item .details-post {
  background-color: #fafafa;
  padding: 50px 50px 50px;
}

.blog-details-area .details-item .details-post h3 {
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: -5px;
}

.blog-details-area .details-item .details-post .form-group {
  position: relative;
  margin-bottom: 15px;
}

.blog-details-area .details-item .details-post .form-group label {
  margin-bottom: 0;
  position: absolute;
  top: 10px;
  left: 15px;
  color: #ff6015;
  font-size: 20px;
}

.blog-details-area .details-item .details-post .form-group .form-control {
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  padding-left: 45px;
  font-size: 15px;
}

.blog-details-area .details-item .details-post .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-details-area .details-item .details-post .form-group textarea {
  height: auto !important;
  padding-top: 13px;
}

.blog-details-area .details-item .details-post .common-btn {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  width: 100%;
  display: block;
}

.widget-area .admin {
  background-color: #fafafa;
  padding: 30px 30px 30px;
  text-align: center;
}

.widget-area .admin img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.widget-area .admin h4 {
  margin-bottom: 12px;
  font-size: 18px;
}

.widget-area .admin span {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.widget-area .admin ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.widget-area .admin ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ff6015;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd8c;
          box-shadow: 0px 0px 20px 0px #dddddd8c;
  border-radius: 50%;
  font-size: 15px;
}

.widget-area .admin ul li a i {
  line-height: 30px;
}

.widget-area .admin ul li a:hover {
  color: #fff;
  background-color: #ff6015;
}

/*----- Contact CSS -----*/
.contact-info-area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info-area .contact-info {
  margin-bottom: 30px;
  text-align: center;
}

.contact-info-area .contact-info i {
  display: inline-block;
  color: #ff6015;
  font-size: 22px;
  margin-bottom: 10px;
}

.contact-info-area .contact-info span {
  display: block;
  color: #ff6015;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.contact-info-area .contact-info a {
  display: block;
  color: #302c51;
}

.contact-info-area .contact-info a:hover {
  color: #ff6015;
}

.contact-area #contactForm {
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-area #contactForm h2 {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.contact-area #contactForm p {
  margin-bottom: 30px;
}

.contact-area #contactForm .form-group {
  margin-bottom: 15px;
  position: relative;
}

.contact-area #contactForm .form-group label {
  margin-bottom: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  display: inline-block;
  font-size: 17px;
  color: #ff6015;
}

.contact-area #contactForm .form-group .form-control {
  height: 50px;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding-left: 40px;
  font-size: 15px;
  border: 0;
}

.contact-area #contactForm .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-area #contactForm .form-group textarea {
  height: auto !important;
  padding-top: 13px;
}

.contact-area #contactForm .form-group .list-unstyled {
  font-size: 15px;
  margin-top: 10px;
  color: #dc3545;
}

.contact-area #contactForm .common-btn {
  width: 100%;
  text-align: center;
  display: block;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 1;
}

.contact-area #contactForm .text-danger {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 22px;
  color: #dc3545;
}

.contact-area #contactForm .text-success {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 22px;
  color: #28a745;
}

.map-area #map {
  width: 100%;
  display: block;
  height: 400px;
  border: 0;
}

/*----- User CSS -----*/
.user-form-area .user-img {
  background-image: url("../img/user-form-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.user-form-area .user-img img {
  display: none;
}

.user-form-area .user-content {
  height: 100vh;
}

.user-form-area .user-content .user-content-inner {
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.user-form-area .user-content .user-content-inner .top {
  margin-bottom: 40px;
}

.user-form-area .user-content .user-content-inner .top a {
  display: block;
  margin-bottom: 30px;
}

.user-form-area .user-content .user-content-inner .top h2 {
  font-size: 25px;
  margin-bottom: 0;
  background-color: #fafafa;
  border-left: 2px solid #ff6015;
  border-right: 2px solid #ff6015;
  padding-top: 15px;
  padding-bottom: 17px;
}

.user-form-area .user-content .user-content-inner .form-group {
  margin-bottom: 20px;
}

.user-form-area .user-content .user-content-inner .form-group .form-control {
  height: 50px;
  padding-left: 15px;
  font-size: 15px;
  border: 1px solid #f1f1f1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.user-form-area .user-content .user-content-inner .form-group .form-control:focus {
  border: 1px solid #ff6015;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-form-area .user-content .user-content-inner .common-btn {
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.user-form-area .user-content .user-content-inner .bottom {
  margin-top: 30px;
}

.user-form-area .user-content .user-content-inner .bottom p {
  margin-bottom: 25px;
}

.user-form-area .user-content .user-content-inner .bottom p a {
  color: #302c51;
  font-weight: 600;
}

.user-form-area .user-content .user-content-inner .bottom p a:hover {
  color: #ff6015;
}

.user-form-area .user-content .user-content-inner .bottom h4 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 30px;
  position: relative;
}

.user-form-area .user-content .user-content-inner .bottom h4:before {
  position: absolute;
  content: '';
  width: 45%;
  height: 1px;
  top: 10px;
  left: 0;
  background-color: #ff6015;
}

.user-form-area .user-content .user-content-inner .bottom h4:after {
  position: absolute;
  content: '';
  width: 45%;
  height: 1px;
  top: 10px;
  right: 0;
  background-color: #ff6015;
}

.user-form-area .user-content .user-content-inner .bottom ul {
  margin: 0;
  padding: 0;
}

.user-form-area .user-content .user-content-inner .bottom ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.user-form-area .user-content .user-content-inner .bottom ul li:last-child {
  margin-bottom: 0;
}

.user-form-area .user-content .user-content-inner .bottom ul li:last-child a {
  color: #4885ed;
  border: 1px solid #4885ed;
}

.user-form-area .user-content .user-content-inner .bottom ul li:last-child a:hover {
  background-color: #4885ed;
}

.user-form-area .user-content .user-content-inner .bottom ul li a {
  display: block;
  border: 1px solid #3B5998;
  color: #3B5998;
  border-radius: 30px;
  padding: 10px 25px 10px 20px;
  font-weight: 500;
}

.user-form-area .user-content .user-content-inner .bottom ul li a i {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 1px;
}

.user-form-area .user-content .user-content-inner .bottom ul li a:hover {
  color: #fff;
  background-color: #3B5998;
}

.testimonial-area.two .testimonial-img {
  margin-bottom: 0;
}

.testimonial-area.two .testimonial-content {
  margin-bottom: 0;
}

.testimonial-area.two .row {
  margin-bottom: 30px;
}

/*-- FAQ --*/
.faq-area .accordion {
  margin-bottom: 30px;
}

.faq-area .accordion p {
  display: none;
  padding: 20px 25px 20px;
  margin-bottom: 0;
}

.faq-area .accordion li {
  position: relative;
  list-style-type: none;
  margin-bottom: 20px;
  display: block;
  -webkit-box-shadow: 0px 0px 30px 0px #dddddd42;
          box-shadow: 0px 0px 30px 0px #dddddd42;
  border-radius: 5px;
}

.faq-area .accordion li:first-child {
  border-top: 0;
}

.faq-area .accordion li:last-child {
  margin-bottom: 0;
}

.faq-area .accordion li a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #302c51;
  padding: 13px 38px 13px 20px;
  border-radius: 5px;
}

.faq-area .accordion li a.active {
  color: #fff;
  background-color: #ff6015;
}

.faq-area .accordion li a.active i {
  color: #fff;
  opacity: 0;
}

.faq-area .accordion li a.active i.two {
  opacity: 1;
}

.faq-area .accordion li a i {
  position: absolute;
  top: 19px;
  right: 20px;
  color: #302c51;
  display: inline-block;
  font-size: 18px;
  opacity: 1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.faq-area .accordion li a i.two {
  opacity: 0;
}

.faq-area .faq-img {
  margin-bottom: 30px;
}

.faq-area .faq-img img {
  width: 100%;
}

/*----- Error CSS -----*/
.error-area {
  height: 100vh;
}

.error-area .error-item {
  text-align: center;
}

.error-area .error-item h1 {
  font-size: 150px;
  margin-bottom: 5px;
}

.error-area .error-item h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.error-area .error-item p {
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*----- Coming Soon CSS -----*/
.coming-soon-area {
  height: 100vh;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.coming-soon-area .soon-item h1 {
  font-size: 100px;
  font-weight: 900;
  color: #ff6015;
  margin-bottom: 15px;
}

.coming-soon-area .soon-item span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
  color: #302c51;
  position: relative;
}

.coming-soon-area .soon-item span:before {
  position: absolute;
  content: '';
  width: 35px;
  height: 2px;
  left: -45px;
  top: 14px;
  background-color: #302c51;
}

.coming-soon-area .soon-item span:after {
  position: absolute;
  content: '';
  width: 35px;
  height: 2px;
  right: -45px;
  top: 14px;
  background-color: #302c51;
}

.coming-soon-area .soon-item .coming-inner {
  margin-bottom: 30px;
  border-radius: 5px;
}

.coming-soon-area .soon-item .coming-inner h3 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
}

.coming-soon-area .soon-item .coming-inner p {
  margin-bottom: 0;
}

/*----- Rules CSS -----*/
.rules-area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.rules-area .rules-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.rules-area .rules-item ul {
  margin-bottom: 30px;
}

.rules-area .rules-item ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.rules-area .rules-item ul li:last-child {
  margin-bottom: 0;
}

.rules-area .rules-item ul li:before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff6015;
}

.rules-area .rules-item p {
  margin-bottom: 30px;
}

.rules-area .rules-item p:last-child {
  margin-bottom: 0;
}

/*----- Go Top CSS -----*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  right: 0;
  color: #ffffff;
  background-color: #ff6015;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
  border-radius: 50%;
  border: 1px solid #ff6015;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 25px;
  line-height: 45px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top.active {
  right: 1%;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  color: #ffffff;
  border: 1px solid #302c51;
  background-color: #302c51;
}

.go-top:hover i:first-child, .go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child, .go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

/*----- Preloader CSS -----*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: #fff;
}

.pre-box-one {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.pre-box-one:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #ff6015;
  -webkit-animation: pre-rotate 3s infinite alternate;
          animation: pre-rotate 3s infinite alternate;
}

.pre-box-one:after {
  position: absolute;
  width: 90%;
  height: 90%;
  background: #fff;
  content: '';
}

.pre-box-two {
  height: 50%;
  width: 50%;
  background: #ff6015;
  position: relative;
  z-index: 10;
  -webkit-animation: 3s pre-rotate infinite alternate;
          animation: 3s pre-rotate infinite alternate;
}

@-webkit-keyframes pre-rotate {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pre-rotate {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */