<template>  
<div>



<div class="col-md-12"> 
 
<div id="accordion">
  <div class="card card-primary">
    <div class="card-header" id="headingOne">
      <h5 class="card-title">
        <button class="btn btn-link" style="color: white;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About content <i class="fa fa-down"></i>
        </button>
      </h5>
    <div class="card-tools" v-if="canEditAbout">
        <h3><a @click="changeAboutEdit" href="javascript:void(0);"><i class="fas" :class="editAbout ?  'fa-edit' :'fa-lock' "  ></i> </a></h3>
    </div>
</div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <form id="quickForm" novalidate="novalidate">
                <div class="card-body">

                    <div class="form-group" v-if="!about.id">
                          <label for="exampleInputFile">Banner Image</label> <br>
                          <input type="file"    v-on:change="onChangeBanner" :disabled="editAbout">
                           <small v-if="errors['banner']" class="form-text  text-danger">
                            {{errors['banner'][0]}}
                          </small>
                    </div>
                    
                    <div class="card card-primary" v-else>
                        <div class="card-title" style="font-weight: 700;color: rgb(102, 102, 102);padding: 10px 15px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;">
                           <strong>Banner</strong> 
                        </div>
                        <div class="card-body">
                          <img class="preview" style="max-height: 50vh;" :src="isFile(about.banner)" >
                        </div>
                        <div class="card-footer" style="font-weight: 700;color: rgb(102, 102, 102);">
                          <div class="col-md-6">
                            <i  class="fa fa-cog"></i> Actions 
                            <span v-if="!editAbout & typeof about.banner === 'object' " @click="updateBanner()"  class="btn btn-primary float-right">
                                  <i  class="fas fa-save" style="color: rgb(255, 255, 255);"></i>&nbsp;&nbsp;Save File
                            </span>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="col-md-6" v-if="!editAbout">
                            <label > Update Banner:</label>
                            <input type="file" name="file" id="file" v-on:change="onChangeBanner">
                          </div>
              
                        </div>
                    </div>
                   
                   
                  <div class="form-group">
                    <label>About title</label>
                    <input type="text" name="text" class="form-control" v-model="about.about_title" placeholder="title" :disabled="editAbout">
                     <small v-if="errors['about_title']" class="form-text  text-danger">
                            {{errors['about_title'][0]}}
                    </small>
                  </div>
                  <div class="form-group">
                    <label >About sub title</label>
                    <input type="text" name="text" class="form-control"  v-model="about.about_sub_title" placeholder="sub title" :disabled="editAbout">
                     <small v-if="errors['about_sub_title']" class="form-text  text-danger">
                            {{errors['about_sub_title'][0]}}
                    </small>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">About content</label>
                    <textarea class="form-control" rows="3" v-model="about.about_text" placeholder="Enter ..." :disabled="editAbout"></textarea>
                     <small v-if="errors['about_text']" class="form-text  text-danger">
                            {{errors['about_text'][0]}}
                    </small>
                  </div>

                   <div class="form-group" v-if="!about.id">
                      <label for="exampleInputFile">About moving image</label> <br>
                      <input type="file" v-on:change="movingImage"  :disabled="editAbout">
                       <small v-if="errors['about_wave_image']" class="form-text  text-danger">
                            {{errors['about_wave_image'][0]}}
                      </small>
                    </div>

                    <div class="card card-primary" v-else>
                        <div class="card-title" style="font-weight: 700;color: rgb(102, 102, 102);padding: 10px 15px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;">
                           <strong>moving image</strong> 
                        </div>
                        <div class="card-body">
                          <img class="preview" style="max-height: 50vh;" :src="isFile(about.about_wave_image)">
                        </div>
                        <div class="card-footer" style="font-weight: 700;color: rgb(102, 102, 102);">
                          <div class="col-md-6">
                            <i  class="fa fa-cog"></i> Actions 
                            <span v-if="!editAbout & about.id & (typeof  about.about_wave_image === 'object')" @click="updateMovingImg()"  class="btn btn-primary float-right">
                                  <i  class="fas fa-save" style="color: rgb(255, 255, 255);"></i>&nbsp;&nbsp;Save File
                            </span>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="col-md-6" v-show="!editAbout">
                            <label > Update moving image:</label>
                            <input type="file" name="file" id="file" v-on:change="movingImage">
    
                          </div>
              
                        </div>
                    </div>

                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button v-show=" !editAbout" type="button" @click="saveAbout" class="btn btn-primary">Submit</button>
                </div>
              </form>
    </div>
  </div>
  <div class="card card-primary">
    <div class="card-header" id="headingTwo">
      <h5 class="card-title">
        <button class="btn btn-link collapsed" style="color: white;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dream section
        </button>
      </h5>
      <div class="card-tools">
        <h3><a @click="changeDreamEdit" href="javascript:void(0);"><i class="fas" :class="editDream ?  'fa-edit' :'fa-lock' "  ></i> </a></h3>
    </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <form id="quickForm" novalidate="novalidate">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Dream Title</label>
                    <input type="text"  class="form-control" v-model="about.dream.title" placeholder="title" :disabled="editDream">
                    <small v-if="errors['dreams.title']" class="form-text  text-danger">
                            {{errors['dreams.title'][0]}}
                    </small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">About content</label>
                    <textarea class="form-control" rows="3" v-model="about.dream.paragraph" placeholder="Enter ..." :disabled="editDream"></textarea>
                     <small v-if="errors['dreams.paragraph']" class="form-text  text-danger">
                            {{errors['dreams.paragraph'][0]}}
                    </small>
                </div>
       

                <div class="card">
              <!-- <div class="card-header">
                <h3 class="card-title">Dream Boxes</h3>

              
              </div> -->
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  
                  <tbody>
                    <template v-for="(box,index)  in about.dream.dream_boxes"  >
                    <tr style="background-color: rgb(230, 230, 230);" >
                      <th  colspan="2">
                          <i class="fa fa-angle-right fa fa-angle-right"></i> Box {{index+1}}
                          <a  v-if="!editDream" @click="removeBox(index)" style="padding-left:30px"  href="javascript:void(0);"><i class="fa fa-trash" ></i> Remove Box</a>
                      </th>
                      <tr>
                        <td><label> Title</label></td>
                        <td>
                          <input type="text" class="form-control" v-model="box.box_title" :disabled="editDream">
                          <small v-if="errors['dreams.dream_boxes.'+index+'.box_title']" class="form-text  text-danger" >
                            {{errors['dreams.dream_boxes.'+index+'.box_title'][0]}}
                          </small>
                          </td>
                       <tr>
                        <td><label> Content</label></td>
                        <td>
                          <input type="text" class="form-control" v-model="box.box_text" :disabled="editDream" >
                          <small v-if="errors['dreams.dream_boxes.'+index+'.box_text']" class="form-text  text-danger" >
                            {{errors['dreams.dream_boxes.'+index+'.box_text'][0]}}
                          </small>
                        </td>
                      </tr>
                      
                    </tr>
                    </template>
                    <tr >
                      
                      <th colspan="2"><a v-if="!editDream" @click="addBox()" href="javascript:void(0);"><i class="fa fa-plus" ></i> Add Another Dream</a></th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button v-show="!editDream" type="button" @click="saveDream()" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header" id="headingThree">
      <h5 class="card-title">
        <button class="btn btn-link collapsed" style="color: white;"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Core Features section
        </button>
      </h5>
      <div class="card-tools">
        <h3><a @click="changeCoreEdit" href="javascript:void(0);"><i class="fas" :class="editCore ?  'fa-edit' :'fa-lock' "  ></i> </a></h3>
    </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <form id="quickForm" novalidate="novalidate">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Core feature Title</label>
                    <input type="text" v-model="about.core_features.title" class="form-control"  placeholder="title" :disabled="editCore">
                     <small v-if="errors['core_features.title']" class="form-text text-danger">
                        {{errors['core_features.title'][0]}}
                    </small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Core feature content</label>
                    <textarea class="form-control" v-model="about.core_features.paragraph" rows="3" placeholder="Enter ..." :disabled="editCore"></textarea>
                     <small v-if="errors['core_features.paragraph']" class="form-text text-danger">
                        {{errors['core_features.paragraph'][0]}}
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Core feature video</label>
                    <input type="url" class="form-control" v-model="about.core_features.waving_video_link"  :disabled="editCore">
                    <small v-if="errors['core_features.waving_video_link']" class="form-text text-danger">
                        {{errors['core_features.waving_video_link'][0]}}
                    </small>
                </div>

                <div class="card">
                <!-- <div class="card-header">
                    <h3 class="card-title">Feat</h3>

              
                </div>  -->
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table ">
                  
                  <tbody>
                    <template v-for="(feat,index)  in about.core_features.feature"  >
                    <tr style="background-color: rgb(230, 230, 230);" >
                      <th  colspan="2">
                          <i class="fa fa-angle-right fa fa-angle-right"></i> Feature {{index+1}}
                          <a v-if="!editCore" style="padding-left:30px" @click="removeFeature(index)" href="javascript:void(0);"><i class="fa fa-trash" ></i> Remove Feature</a>
                      </th>
                      <tr>
                        <td><label>Icon</label></td>
                        <td><input type="text" class="form-control" v-model="feat.icon" :disabled="editCore">
                        <small v-if="errors['core_features.feature.'+index+'.icon']" class="form-text text-danger" >
                            {{errors['core_features.feature.'+index+'.icon'][0]}}
                        </small>
                        </td>
                      </tr>
                      <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" class="form-control" v-model="feat.heading" :disabled="editCore">
                         <small v-if="errors['core_features.feature.'+index+'.heading']" class="form-text text-danger" >
                            {{errors['core_features.feature.'+index+'.heading'][0]}}
                        </small>
                        </td>
                      </tr>
                      <tr>
                        <td><label>Content</label></td>
                        <td> <textarea class="form-control" v-model="feat.comment" rows="3" placeholder="Enter ..." :disabled="editCore"></textarea>
                        <small v-if="errors['core_features.feature.'+index+'.comment']" class="form-text text-danger">
                            {{errors['core_features.feature.'+index+'.comment'][0]}}
                        </small>
                        </td>
                      </tr>
                      
                    </tr>
                    </template>
                    <tr >
                      <th colspan="2"><a v-if="!editCore" @click="addFeature()" href="javascript:void(0);"><i class="fa fa-plus" ></i> Add Another Dream</a></th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="button" v-show="!editCore" @click="saveCoreFeatures()" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header" id="headingFour">
      <h5 class="card-title">
        <button class="btn btn-link collapsed" style="color: white;"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Volunteer section
        </button>
      </h5>
      <div class="card-tools">
        <h3><a @click="changeVolunteerEdit" href="javascript:void(0);"><i class="fas" :class="editVolunteer ?  'fa-edit' :'fa-lock' "  ></i> </a></h3>
    </div>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <form id="quickForm" novalidate="novalidate">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" v-model="about.volunteer.title"  class="form-control"  placeholder="title" :disabled="editVolunteer">
                    <small v-if="errors['volunteer_title']" class="form-text text-danger">
                        {{errors['volunteer_title'][0]}}
                      </small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Content</label>
                    <textarea class="form-control" v-model="about.volunteer.paragraph" rows="3" placeholder="Enter ..." :disabled="editVolunteer"></textarea>
                      <small v-if="errors['volunteer_paragraph']" class="form-text  text-danger">
                        {{errors['volunteer_paragraph'][0]}}
                      </small>
                </div>

                <div class="card">
              <!-- <div class="card-header">
                <h3 class="card-title">Dream Boxes</h3>

              
              </div> -->
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table ">
                  
                  <tbody>
                    <template v-for="(vol,index)  in about.volunteer.volunteers"  >
                    <tr style="background-color: rgb(230, 230, 230);" :key="index" >
                      
                      <th  colspan="2">
                          <i class="fa fa-angle-right fa fa-angle-right"></i> Volunteer {{index+1}}
                          <a v-if="index && !editVolunteer> 0" style="padding-left:30px"  href="javascript:void(0);"><i class="fa fa-trash" ></i> Remove volunteer</a>
                      </th>
                      
                      <tr>
                        <td><label>Image</label></td>
                        <td>
                           <div class="card-body">
                          <img class="preview" style="max-height: 50vh;" :src="isFile(vol.img)" >
                          </div>
                          <input type="file"   id="myFile" name="filename" v-on:change="onChangeVolunteerImage($event,index)" :disabled="editVolunteer">
                          <small v-if="errors['files.'+index]" class="form-text  text-danger">
                            The image field is required.
                          </small>
                          </td>
                      </tr>
                      <tr>
                        <td><label>Full Name</label></td>
                        <td>
                          <input type="text" class="form-control" v-model="vol.name" :disabled="editVolunteer">
                          <small v-if="errors['volunteers_name.'+index]" class="form-text text-danger">
                            The name field is required.
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <td><label>Position</label></td>
                        <td> 
                          <input type="text" class="form-control" v-model="vol.position" :disabled="editVolunteer">
                          <small v-if="errors['volunteers_position.'+index]" class="form-text  text-danger">
                            The name position is required.
                          </small>
                         </td>
                      </tr>
                      
                    </tr>
                    </template>
                   
                    <tr >
                      <th colspan="2"><a @click="addVolunteer()" href="javascript:void(0);"><i class="fa fa-plus" ></i> Add Another volunteer</a></th>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="button" v-show="!editVolunteer" @click="save('/admin/save-volunteers')" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
  </div>
</div>
</div>
    </div>
          
            <!-- /.card -->
</div>
</template>
<script>
  
    import axios from 'axios'
    //import { VueEditor } from "vue2-editor";
    export default {
      // props:['about'],
        // components: {
        //     VueEditor
        // },
        data(){
          return{
              canEditAbout: false,
              editAbout: true,
              editDream: true,
              editCore: true,
              editVolunteer: true,
              errors:{},
              about : {
                banner: '',
                about_title: '',
                about_text: '',
                about_sub_title:'',
                about_wave_image: '',
                about_text: '',

                volunteer : {
                  title:'',
                  paragraph: '',

                  volunteers:[{
                    position : '',
                    name: '',
                    img : ''
                  }]
                },

                core_features:{
                  title: '',
                  paragraph: '',
                  waving_video_link: '',
                  feature:[{
                    heading: '',
                    icon: '',
                    comment: '',
                  }]
                },

                dream:{
                  paragraph: '',
                  title:  '',
                  dream_boxes:[{
                    box_title : '',
                    box_text: '',
                    dream_id: '' 
                  }]
                }
                
              }
          }
        },
        mounted(){
          this.canEdit()
          this.getAbout()
        },
        methods:{
          removeBox(index){
            this.about.dream.dream_boxes.splice(index,1)
          },
          removeFeature(index){
            this.about.core_features.feature.splice(index,1)
          },
          changeVolunteerEdit(){
            this.editVolunteer = !this.editVolunteer
            this.$forceUpdate();
          },
          changeDreamEdit(){
            this.editDream = !this.editDream
            this.$forceUpdate();
          },
          changeCoreEdit(){
            this.editCore = !this.editCore
            this.$forceUpdate();
          },
          changeAboutEdit(){ 
            this.editAbout = !this.editAbout
            this.$forceUpdate();
          },
          getAbout(){
             axios.get('/admin/get_about')
                    .then(response => { console.log(response.data)
                        if(response.data.dream){
                            this.about.dream = response.data.dream
                        }
                        if(response.data.core_features){
                            this.about.core_features = response.data.core_features
                        }
                        if(response.data.volunteer){
                            this.about.volunteer = response.data.volunteer
                        }
                        if(response.data.about){
                            this.about.about_title = response.data.about.about_title
                            this.about.id = response.data.about.id
                            this.about.about_sub_title = response.data.about.about_sub_title
                            this.about.banner = response.data.about.banner
                            this.about.about_text = response.data.about.about_text
                            this.about.about_wave_image = response.data.about.about_wave_image
                        }
                        this.$forceUpdate();

                    }).catch(error => {
                    console.log(error);
                })
          },
          canEdit(){
             axios.get('/admin/about_can_edit')
                    .then(response => {
                        this.canEditAbout = response.data
                    }).catch(error => {
                    console.log(error);
                })
          },
          reloadPage(){
            this.getAbout();
          },
          updateBanner()
          {
            let formData = new FormData();
            let url = '/admin/update-banner'
            formData.append('banner', this.about.banner);
            formData.append('id', this.about.id);
            axios.post( url,
                  formData,
                  {
                  
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                  
                  }
                ).then(response => {
                  if(response.data === 'success'){
                    this.$swal('Success!' , 'You have successfully updated your banner . ','success')
                    this.getAbout();
                  }
                })
                .catch(error => {
                  if(error.response)
                      this.errors = error.response.data.errors
                });
          },
          updateMovingImg()
          {
            let formData = new FormData();
            let url = '/admin/update-maving-image'
            formData.append('img', this.about.about_wave_image);
            formData.append('id', this.about.id);
            axios.post( url,
                  formData,
                  {
                  
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                  
                  }
                ).then(response => {
                  if(response.data === 'success'){
                    this.$swal('Success!' , 'You have successfully updated your content . ','success')
                     this.getAbout();
                  }
                })
                .catch(error => {
                  if(error.response)
                      this.errors = error.response.data.errors
                });
          },
          saveAbout(){

           

            let formData = new FormData();

            formData.append('banner', this.about.banner);
            formData.append('about_title', this.about.about_title);
            formData.append('about_text', this.about.about_text);
            formData.append('about_sub_title', this.about.about_sub_title);
            formData.append('about_wave_image', this.about.about_wave_image);
            if(this.about.id){
              formData.append('id', this.about.id);
            }

            axios.post('/admin/save-about',     
             formData,
              {
              
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
               
              }
              ).then(resp => {
                  console.log(resp)
                  if(resp.data === 'success'){ 
                    this.$swal('Success', 'You have successfully created your content', 'success')
                    this.errors = []
                }
                             
              }).catch(err => {
                  this.errors = err.response.data.errors
              })
          },
          saveDream(){
          axios.post('/admin/save-dreams', {
                                dreams: this.about.dream
                            }).then(resp => {
                                console.log(resp)
                                if(resp.data === 'success'){ 
                                    this.$swal('Success', 'You have successfully created your dream boxes', 'success')
                                    this.errors = []
                                    this.canEdit()
                                }
                             
                            }).catch(err => {
                                this.errors = err.response.data.errors
                            })
          },
          saveCoreFeatures(){
               axios.post('/admin/save-features', {
                                core_features: this.about.core_features
                            }).then(resp => {
                                console.log(resp)
                                if(resp.data === 'success'){ 
                                    this.$swal('Success', 'You have successfully created your features', 'success')
                                    this.errors = []
                                    this.canEdit()
                                }
                             
                            }).catch(err => {
                                this.errors = err.response.data.errors
                            })
          },
          save(url){
            let formData = new FormData();

            for( var i = 0; i < this.about.volunteer.volunteers.length; i++ ){
              let file = this.about.volunteer.volunteers[i].img;
              let name = this.about.volunteer.volunteers[i].name;
              let position = this.about.volunteer.volunteers[i].position;

              formData.append('files[' + i + ']', file);
              formData.append('volunteers.name[' + i + ']', name);
              formData.append('volunteers.position[' + i + ']', position);

              if(this.about.volunteer.volunteers[i].id){
                formData.append('volunteers.position[' + i + '_id]', this.about.volunteer.volunteers[i].id);
              }

            }

            formData.append('volunteer.title', this.about.volunteer.title);
            formData.append('volunteer.paragraph', this.about.volunteer.paragraph);

            if(this.about.volunteer.id){
              formData.append('volunteer.id', this.about.volunteer.id);
            }

            if(this.about.volunteer.id){
                axios.put( url,
                  formData,
                  {
                  
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                  
                  }
                ).then(response => {
                  if(response.data === 'success'){
                    this.$swal('Success!' , 'You have successfully created your volunteers . ','success')
                    this.errors = []
                    this.canEdit()
                  }
                })
                .catch(error => {
                    this.errors = error.response.data.errors
                });
            }
            else{
                axios.post( url,
                formData,
                {
                
                  headers: {
                      'Content-Type': 'multipart/form-data'
                  },
                
                }
              ).then(response => {
                if(response.data === 'success'){
                  this.$swal('Success!' , 'You have successfully created your volunteers . ','success')
                  this.errors = []
                  this.canEdit()
                }
              })
              .catch(error => {
                  this.errors = error.response.data.errors
              });
            }
            

          },
          addVolunteer(){
            let obj = {
                    position : '',
                    name: '',
                    img : ''
            }
            this.about.volunteer.volunteers.push(obj)
          },
          addFeature(){
              let obj = {
                    comment : '',
                    heading: '',
                    icon : ''
            }
            this.about.core_features.feature.push(obj)
          },
          addBox(){
             let obj = {
                    box_title : '',
                    box_text: '',
            }
            this.about.dream.dream_boxes.push(obj)
          },
           onChangeBanner(e) {
                this.about.banner = e.target.files[0];
                this.$forceUpdate();
            },
            movingImage(e) {
              this.about.about_wave_image= e.target.files[0];
              this.$forceUpdate();
            },
            isFile(img)
            {
              if( typeof img === 'object' ){
                  return URL.createObjectURL(img)
              }
              return img
            },
            onChangeVolunteerImage(e,index) {
              this.about.volunteer.volunteers[index].img = e.target.files[0];
              this.$forceUpdate();
            }
        }
    }
</script>
<style scoped>
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
.custom-body {
    background-color: #757f9a;
    background-image: linear-gradient(147deg, #757f9a 0%, #d7dde8 100%);
}



</style>