<template>
    <div class="col-md-12">
    <div id="accordion">
  <div class="card card-primary">
    <div class="card-header" id="headingOne">
      <h5 class="card-title">
        <button class="btn btn-link" style="color: white;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Team <i class="fa fa-down"></i>
        </button>
      </h5>
    <div class="card-tools" >
        <h3><a  href="javascript:void(0);"><i class="fas fa-edit"  ></i> </a></h3>
    </div>
</div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <form id="quickForm" novalidate="novalidate">
                <div class="card-body">
                    
                    <div class="card card-primary">
                        <div class="card-title" style="font-weight: 700;color: rgb(102, 102, 102);padding: 10px 15px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;">
                           <strong>Banner</strong> 
                        </div>
                        <div class="card-body">
                          <img class="preview" style="max-height: 50vh;" :src="isFile(team.banner)" >
                        </div>
                        <div class="card-footer" style="font-weight: 700;color: rgb(102, 102, 102);">
                          <div class="col-md-6">
                            <i  class="fa fa-cog"></i> Actions 
                            <span @click="saveBanner()"   class="btn btn-primary float-right">
                                  <i  class="fas fa-save" style="color: rgb(255, 255, 255);"></i>&nbsp;&nbsp;Save File
                            </span>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="col-md-6" >
                            <label > Update Banner:</label>
                            <input type="file" name="file" id="file"  v-on:change="onChangeBanner"  >
                            <small v-if="errors['banner']" class="form-text  text-danger">
                              {{errors['banner'][0]}}
                          </small>
                          </div>
              
                        </div>
                    </div>
                   <div class="card-body table-responsive p-0">
                <table class="table ">
                  
                  <tbody>
                    <template  v-for="(tea,index)  in team.team_members">
                    <tr style="background-color: rgb(230, 230, 230);"  :key="index">
                      
                      <th  colspan="2">
                          <i class="fa fa-angle-right fa fa-angle-right"></i> Team Member 
                          <a  style="padding-left:30px"  @click="removeTeaamMember(index)" href="javascript:void(0);"><i class="fa fa-trash" ></i> Remove team member</a>
                      </th>
                      
                      <tr>
                        <td><label>Image</label></td>
                        <td>
                           <div class="card-body">
                            <img class="preview" style="max-height: 50vh;" :src="isFile(tea.img)"  >
                          </div>
                          <input type="file"   id="myFile" name="filename"  v-on:change="onChangeIMG($event,index)"  >
                          <small v-if="errors['files.'+index]" class="form-text  text-danger">
                              {{errors['files.'+index][0]}}
                          </small>
                          </td>
                      </tr>
                      <tr>
                        <td><label>Full Name</label></td>
                        <td>
                          <input type="text" class="form-control"  v-model="tea.name">
                          <small v-if="errors['team_members_name.'+index]" class="form-text text-danger">
                            The full name field is required.
                          </small> 
                        </td>
                      </tr>
                      <tr>
                        <td><label>Position</label></td>
                        <td> 
                          <input type="text" class="form-control" v-model="tea.posision">
                          <small v-if="errors['team_members_position.'+index]" class="form-text  text-danger">
                            The name position field is required.
                          </small> 
                         </td>
                      </tr>
                      
                    </tr>
                    </template>
                   
                    <tr >
                      <th colspan="2"><a @click="addTeamMember()" href="javascript:void(0);"><i class="fa fa-plus" ></i> Add Another team member</a></th>
                  </tr>
                  </tbody>
                </table>
              </div>

                </div>
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button  type="button" @click="save()" class="btn btn-primary">Submit</button>
                </div>
              </form>
    </div>
  </div>
</div>
    </div>
</template>

<script>
export default {
    data() {
        return{
            errors:[],
            team : {
                banner:'',
                team_members:[{
                    name: '',
                    img : '',
                    posision: ''
                }]

            }
        }
    },
   mounted(){
          this.getBanner()
        },
    methods :{
        getBanner(){
              axios.get('/admin/get_team_banner')
                    .then(response => {
                      if(response.data.team){
                       
                          this.team.banner = response.data.team.banner
                          this.team.id = response.data.team.id
                      }
                       if(response.data.team_members){
                          this.team.team_members = response.data.team_members
                        } 
                         this.$forceUpdate();
                        
                    }).catch(error => {
                    console.log(error);
                })
        },
        removeTeaamMember(index){
            this.team.team_members.splice(index,1)
        },
        addTeamMember(){
             let obj = {
                    posision : '',
                    name: '',
                    img : ''
            }
            this.team.team_members.push(obj)
        },
         isFile(img)
            {console.log(img)
              if( typeof img === 'object' ){
                  return URL.createObjectURL(img)
              }
              return img
            },
         onChangeBanner(e) {
                this.team.banner = e.target.files[0];
                this.$forceUpdate();
            },
        onChangeIMG(e,index){
            this.team.team_members[index].img = e.target.files[0];
            this.$forceUpdate();
        },
        save(){
            let url = '/admin/save_team_members'
            let formData = new FormData();

            for( var i = 0; i < this.team.team_members.length; i++ ){
              let file = this.team.team_members[i].img;
              let name = this.team.team_members[i].name;
              let position = this.team.team_members[i].posision;

              formData.append('files[' + i + ']', file);
              formData.append('team_members.name[' + i + ']', name);
              formData.append('team_members.position[' + i + ']', position);

                if(this.team.team_members[i].id){
                    formData.append('team_members.position[' + i + '_id]', this.team.team_members[i].id);
                }

            }

          

            if(this.team.team_members.id){
                axios.post( url,
                  formData,
                  {
                  
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                  
                  }
                ).then(response => {
                  if(response.data === 'success'){
                    this.$swal('Success!' , 'You have successfully updated your team members . ','success')
                    this.errors = []
                    this.getBanner()
                  }
                })
                .catch(error => {
                    this.errors = error.response.data.errors
                });
            }
            else{
                axios.post( url,
                formData,
                {
                
                  headers: {
                      'Content-Type': 'multipart/form-data'
                  },
                
                }
                ).then(response => {
                if(response.data === 'success'){
                  this.$swal('Success!' , 'You have successfully created your team members . ','success')
                  this.errors = []
                  this.getBanner()
                }
              })
              .catch(error => {
                  this.errors = error.response.data.errors
              });
            }
        },
        saveBanner(){
             let formData = new FormData();
            let url = '/admin/update-team-banner'
            formData.append('banner', this.team.banner);
            if(this.team.id)
                formData.append('id', this.team.id);
            axios.post( url,
                  formData,
                  {
                  
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                  
                  }
                ).then(response => {
                  if(response.data === 'success'){
                    this.$swal('Success!' , 'You have successfully updated your banner . ','success')
                    this.errors = []
                    this.getBanner();
                  }
                })
                .catch(error => {
                  if(error.response)
                      this.errors = error.response.data.errors
                });
        }      
    }
}
</script>